<!-- <p>login works!</p>
<div class="card">
    <div class="card-body">
        <form #loginform =ngForm (ngSubmit)="onSubmit()" >
            <input type="email" name="email" class="form-control" [(ngModel)]="email">
            <input type="password" name="password" class="form-control" [(ngModel)]="password">
            <button type="submit" class="btn btn-danger">login</button>
        </form>
    </div>
</div> -->

<!-- <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> -->
<!-- <div id="loading" *ngIf="loadding == true">
   <div class="loader"></div>
</div> -->

 <!-- Login Area -->
 <!-- <section class="position-relative">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-5 col-xl-5 col-sm-12 login-image-container">
               <div class="login-info-box position-relative">
                    <div class="content-center w-100">
                       <div class="desk-image mx-auto">
                          <img class="img-fluid w-100" src="../../../assets/admin/images/desk.png" alt="desk">
                       </div>
                       <div class="login-text">
                          <h1>Application Login</h1><br>
                          <p class="lead mb-3">Don't have an account ?</p>
                          <a routerLink="../signup" class="register text-center btn btn-outline-light">Register</a>
                       </div>
                    </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7 position-relative">
              <a routerLink="/" class="back-link" data-bs-toggle="tooltip" title="Back">
                 <div class="arrow-box-circle">
                    <i class="fa fa-chevron-left mt-0"></i>
                 </div>
              </a>
               <div class="form-box">
                  <div class="row">
                     <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto">
                       <div class="card border-0">
                          <div class="card-body p-4">
                             <div class="rounded-image mb-3 mx-auto">
                                <img class="img-fluid" src="../../../assets/admin/images/user.svg" alt="user">
                             </div>
                             <h5 class="text-center">Log in to your account</h5>
                             <form #loginform =ngForm (ngSubmit)="onSubmit()" >
                                <div class="form-floating mb-3 mt-3">
                                   <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"  [(ngModel)]="email">
                                   <label for="email">Email</label>
                                 </div>
                                 <div class="form-floating mt-3 mb-3">
                                   <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" [(ngModel)]="password">
                                   <label for="pwd">Password</label>
                                 </div>
                                <div class="form-check ms-4 my-4">
                                   <label class="form-check-label float-start lh-1">
                                      <input class="form-check-input" type="checkbox" name="remember"> 
                                      <span class="remember">Remember me</span>
                                   </label>
                                   <label class="form-check-label float-end">
                                      <a href="javascript:void();" class="forget-pwd">Forgot Password?</a>
                                   </label>
                                </div>
                                
                                <div class="gap-2 text-center ">
                                   <button style="padding: 0.38rem 4rem;" type="submit" class="btn btn-warning btn-sm">Login</button>
                                </div>
                                

                                <div class="login-types text-center mt-4 pb-1">
                                   <small>OR LOGIN WITH</small>
                                </div>
                                <div class="text-center mt-1">
                                   <ul class="social-network social-circle">
                                      <li><a href="javascript:void();" class="icoGoogle" title="Google"><i class="myicon-google"></i></a></li>
                                     <li><a href="javascript:void();" class="icoFacebook" title="Facebook"><i class="myicon-facebook1"></i></a></li>
                                     <li><a href="javascript:void();" class="icoTwitter" title="Twitter"><i class="myicon-twitter1"></i></a></li>
                                     <li><a href="javascript:void();" class="icoLinkedin" title="Linkedin"><i class="myicon-linkedin1"></i></a></li>
                                   </ul>
                                 </div>
                                 
                             </form>
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
</section> -->


<!-- Login 4 start -->
<div class="login-4">
   <div class="container-fluid pr-0">
       <div class="row login-box">
           <div class="col-lg-6 form-section">
               <div class="form-inner">
                   <a href="" class="logo">
                       <img src="../../../assets/admin/images/logo-white.png" alt="logo">
                   </a>
                   <h3>
                       Sign Into Your Account
                   </h3>
                   <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       <strong>Sorry,</strong> Something went wrong!
                       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                   </div> -->
                   <form action="#" method="POST" id="commonForm">
                       <div class="form-group position-relative clearfix">
                           <input name="email" type="email" class="form-control" placeholder="Email Address *" aria-label="Email Address">
                           <!-- <div class="login-popover login-popover-abs" data-bs-toggle="popover" data-bs-trigger="hover" title="Clarification" data-bs-content="And here's some amazing content. It's very engaging. Right?">
                               <i class="fa fa-info-circle"></i>
                           </div> -->
                       </div>
                       <div class="form-group clearfix position-relative password-wrapper">
                           <input name="password" type="password" class="form-control" autocomplete="off" placeholder="Password *" aria-label="Password">
                           <i class="fa fa-eye password-indicator"></i>
                       </div>
                       <div class="form-group mb-0 clearfix">
                           <button type="submit" class="btn btn-lg btn-primary btn-theme">Login</button>
                           <a href="forgot-password-4.html" class="forgot-password float-end">Forgot Password</a>
                       </div>
                       <div class="extra-login clearfix">
                           <span>Or Login With</span>
                       </div>
                       <div class="clearfix"></div>
                       <ul class="social-list">
                           <li><a href="#" class="facebook-color"><i class="myicon-facebook1 facebook-i"></i><span>Facebook</span></a></li>
                           <li><a href="#" class="twitter-color"><i class="myicon-twitter1 twitter-i"></i><span>Twitter</span></a></li>
                           <li><a href="#" class="google-color"><i class="myicon-google google-i"></i><span>Google</span></a></li>
                       </ul>
                   </form>
                   <div class="clearfix"></div>
                   <p>Don't have an account? <a routerLink="/signup" class="thembo"> Create Account</a></p>
               </div>
           </div>
           <div class="col-lg-6 bg-img clip-home h-100"></div>
       </div>
   </div>
</div>
<!-- Login 4 end -->
