<!-- Login 4 start -->
<div class="pageLoader"  *ngIf="loadding == true">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"> </div>
    <div class="dot"></div>
</div>
<div class="login-4">
    <div class="container-fluid pr-0">
        <div class="row login-box">
            <div class="col-lg-6 form-section">
                <div class="form-inner">
                    <a href="" class="logo">
                        <img src="../../../assets/admin/images/logo-white.png" alt="logo">
                    </a>
                    <h3>
                        Sign Into Your Account
                    </h3>

                    <form #loginform (ngSubmit)="onSubmit()">
                        <div class="form-group position-relative clearfix">
                            <input [(ngModel)]="email" name="email" type="email" class="form-control"
                                placeholder="Email Address *" aria-label="Email Address">

                        </div>
                        <div class="form-group clearfix position-relative password-wrapper">
                            <input [(ngModel)]="password" name="password" type="password" class="form-control"
                                autocomplete="off" placeholder="Password *" aria-label="Password">
                            <i class="fa fa-eye password-indicator"></i>
                        </div>
                        <div class="form-group mb-0 clearfix">
                            <button type="submit" class="btn btn-lg btn-primary btn-theme">Login</button>
                            <a href="forgot-password-4.html" class="forgot-password float-end">Forgot Password</a>
                        </div>
                        <div class="extra-login clearfix">
                            <span>Or Login With</span>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="social-list">
                            <li><a href="#" class="facebook-color"><i
                                        class="myicon-facebook1 facebook-i"></i><span>Facebook</span></a></li>
                            <li><a href="#" class="twitter-color"><i
                                        class="myicon-twitter1 twitter-i"></i><span>Twitter</span></a></li>
                            <li><a href="#" class="google-color"><i
                                        class="myicon-google google-i"></i><span>Google</span></a></li>
                        </ul>
                    </form>
                    <div class="clearfix"></div>
                    <p>Don't have an account? <a routerLink="/signup" class="thembo"> Create Account</a></p>
                </div>
            </div>
            <div class="col-lg-6 bg-img clip-home h-100"></div>
        </div>
    </div>
</div>
<div class="modal fade otpModal" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">Authenticate OTP</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="text-center">Enter your Otp which is shared in your E-mail Id</p>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <input name="otpValid" id="otpValid" class="form-control" type="number" autocomplete="off"
                            placeholder="Enter your OTP" [(ngModel)]="userOtp">
                        <input name="encOTP" id="encOTP" class="form-control" type="hidden" placeholder="Enter your OTP"
                            [(ngModel)]="encryptOtp">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button class="btn btn-success" type="button" (click)="validateOtp()">Validate Otp</button>
            </div>
        </div>
    </div>
</div>

<!-- Login 4 end -->