<!-- <div class="pageLoader"  *ngIf="loadding == true">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"> </div>
    <div class="dot"></div>
</div> -->

<div class="container-fluid pt-4 pb-1 px-4">
    <div class="col-lg-12">
        <div class="row g-3">
            <div class="d-flex justify-content-between mt-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-1">
                        <li class="breadcrumb-item text-custom"><a href="javascript:void();"><i
                                    class="myicon-home1 me-2"></i>Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                        <li class="breadcrumb-item active" aria-current="page">Add Truck</li>
                    </ol>
                </nav>
                <div>
                    <button class="btn btn-light btn-sm p-btn-sm btn-light-shadow me-2 rounded">Share</button>
                    <button class="btn btn-success btn-sm p-btn-sm btn-dark-shadow rounded" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"> <i class="myicon-plus-square fs-6 me-2"></i>Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-4">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/Application/addtruck">Add Truck</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Application/viewtrucks">View Trcuks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Application/truckbookinghistory">Truck Booking History</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">


    <div class="row mt-0">
       
        <div class="col-lg-12 col-sm-12">
            <div class="card border-0">
                <div class="card-header pt-1">
                    
                    <span class="d-inline-block align-middle h6 custom-border-left ps-2 mb-1"><b>General Information</b></span>
                    
                </div>
                <div class="card-body">
                    <div class="row g-3 mb-4">
                       
                        <div class="col-md-3">
                            <label for="carType" class="form-label">Truck Type</label>
                            <select id="" class="form-select" name="carType">
                                <option value="">--Select--</option>
                                <option value="1">Heavy Open Body</option>
                                <option value="2">Closed Body Or Container Truck</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputPassword4" class="form-label">Brand</label>
                            <input type="text" class="form-control" id="" name="carBrand">
                        </div>
                        <div class="col-md-3">
                            <label for="mnfYear" class="form-label">Manufacturing Year</label>
                            <input type="date" class="form-control" id="" name="carYear">
                        </div>
                        <div class="col-md-3">
                            <label for="carType" class="form-label">Fuel Type</label>
                            <select id="" class="form-select" id="" name="fuelType">
                                <option value="">Select fuel type...</option>
                                <option value="1">Petrol</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="OwnerName" class="form-label">Mileage(Km/L)</label>
                            <input type="text" class="form-control" id="" name="mileage">
                        </div>
                        <div class="col-md-3">
                            <label for="OwnerName" class="form-label">Truck Owner Name</label>
                            <input type="text" class="form-control" id="" name="ownerName">
                        </div>


                        <div class="col-md-3">
                            <label for="state" class="form-label">Select State</label>
                            <select id="stateId" class="form-select" name="stateId">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="city" class="form-label">Select City</label>
                            <select id="cityId" class="form-select" name="cityId">
                                <option value="">--Select--</option>

                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="OwnerName" class="form-label">Owner Address</label>
                            <textarea rows="3" class="form-control" id="" name="address"></textarea>
                        </div>

                        <span class="d-inline-block align-middle h6 custom-border-left ms-2 mt-4 ps-2 mb-3"><b>Truck
                            Information</b></span>

                        <div class="col-md-3">
                            <label for="RCno" class="form-label">RC No.</label>
                            <input type="text" class="form-control" id="" name="RCNo">
                        </div>
                        <div class="col-md-3">
                            <label for="RC" class="form-label">Upload RC</label>
                            <div class="input-group">
                                    <input accept="image/*" class="form-control" title="Upload image (only jpeg, jpg, png and pdf file supported)" type="file" name="rcImageUpload" />
                                <button class="btn btn-sm btn-outline-secondary" type="button" id=""
                                    data-bs-toggle="tooltip" data-bs-title="View/ Download PDF"><i
                                        class="myicon-file-pdf fs-1-0"></i></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="ChassisNo" class="form-label">Chassis No.</label>
                            <input type="text" class="form-control" id="" name="chassisNo">
                        </div>
                        <div class="col-md-3">
                            <label for="RC" class="form-label">Upload Insurance</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="inputGroupFile04"
                                    aria-describedby="RCupload" aria-label="Upload">
                                <button class="btn btn-sm btn-outline-secondary" type="button" id=""
                                    data-bs-toggle="tooltip" data-bs-title="View/ Download PDF"><i
                                        class="myicon-file-pdf fs-1-0"></i></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="InsuranceYearFrom" class="form-label">Insurance Valid From</label>
                            <input type="date" class="form-control" id="" name="insuranceValidFrom">
                        </div>
                        <div class="col-md-3">
                            <label for="InsuranceYearTo" class="form-label">Insurance Valid Till</label>
                            <input type="date" class="form-control" id="" name="insuranceValidTill">
                        </div>
                        <div class="col-md-3">
                            <label for="RC" class="form-label">Upload Pollution</label>
                            <div class="input-group">
                                <input type="file" class="form-control" id="inputGroupFile04"
                                    aria-describedby="RCupload" aria-label="Upload">
                                <button class="btn btn-sm btn-outline-secondary" type="button" id=""
                                    data-bs-toggle="tooltip" data-bs-title="View/ Download PDF"><i
                                        class="myicon-file-pdf fs-1-0"></i></button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="PollutionYearFrom" class="form-label">Pollution Valid From</label>
                            <input type="date" class="form-control" id="" name="pollutionValidFrom">
                        </div>
                        <div class="col-md-3">
                            <label for="PollutionYearTo" class="form-label">Pollution Valid Till</label>
                            <input type="date" class="form-control" id="" name="pollutionValidTill">
                        </div>
                        <div class="col-md-3">
                            <label for="RC" class="form-label">Upload Truck Image</label>
                            <div class="input-group">
                                <!-- <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="RCupload" aria-label="Upload">
                              <button class="btn btn-sm btn-outline-secondary" type="button" id="" title="View/ Download Image"><i class="myicon-image1"></i></button>
                            </div> -->
                                <!-- <div class="col-md-4" *ngIf="selectedCarModel"> -->

                                <div class="input-group">
                                    <input type="file" class="form-control" id="inputGroupFile04"
                                        aria-describedby="RCupload" aria-label="Upload" >
                                    <button class="btn btn-sm btn-outline-secondary" type="button" id=""
                                        data-bs-toggle="tooltip" data-bs-title="View/ Download Image"><i
                                            class="myicon-image1 fs-1-0"></i></button>
                                    <!-- <div class="col-md-4"><img [src]="url" height="100" width="100"></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success me-2">Submit</button>
                                <button type="button" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /#page-content-wrapper -->