<div class="container-fluid pt-4 pb-1 px-4">
  <div class="col-lg-12">
      <div class="row g-3">
          <div class="d-flex justify-content-between mt-0">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb p-1">
                      <li class="breadcrumb-item text-custom"><a href="javascript:void();">Home</a></li>
                      <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                      <li class="breadcrumb-item active" aria-current="page">Add Car</li>
                  </ol>
              </nav>
              <div>
                  <button class="btn btn-light btn-sm p-btn-sm btn-light-shadow me-2 rounded">Share</button>
                  <button class="btn btn-success btn-sm p-btn-sm btn-dark-shadow rounded" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"> <i class="myicon-plus-square fs-6 me-2"></i>Create</button>
              </div>
            </div>
      </div>
  </div>
</div>

<div class="container-fluid px-4">
  <div class="col-lg-12">
      <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="javascript:void();">Add Car</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void();">View Cars</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="javascript:void();">Booking History</a>
          </li>
      </ul>
  </div>
</div>

<div class="container-fluid">


  <div class="row mt-0">
      <!-- <div class="col-lg-6 col-sm-12">
          <div id="bar"></div>
      </div> -->
      <div class="col-lg-12 col-sm-12">
          <div class="card border-0">
              <div class="card-header pt-1">
                  <!-- <h4 class="fs-6">Monthly Incidents</h4> -->
                  <span class="d-inline-block align-middle h6">Add Car</span>
              </div>
              <div class="card-body">
                  <span class="d-inline-block align-middle h6 custom-border-left ps-2 mb-3">General Information</span>
                  <form class="row g-3 mb-4">
                      <div class="col-md-3">
                          <label for="carType" class="form-label">Car Type</label>
                          <select id="" class="form-select form-select-sm">
                              <option selected>Sedan</option>
                              <option>Hatchback</option>
                              <option>SUV</option>
                          </select>
                      </div>
                      <!-- <div class="col-md-3">
                          <label for="inputEmail4" class="form-label">From Date</label>
                          <input type="date" class="form-control form-control-sm" id="inputEmail4">
                      </div> -->
                      <div class="col-md-3">
                          <label for="inputPassword4" class="form-label">Brand</label>
                          <input type="text" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="mnfYear" class="form-label">Manufacturing Year</label>
                          <input type="date" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="carType" class="form-label">Fuel Type</label>
                          <select id="" class="form-select form-select-sm">
                              <option selected>Petrol</option>
                              <option>Diesel</option>
                          </select>
                      </div>
                      <div class="col-md-3">
                          <label for="OwnerName" class="form-label">Mileage(Km/L)</label>
                          <input type="text" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="OwnerName" class="form-label">Car Owner Name</label>
                          <input type="text" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <!-- <label for="inputState" class="form-label">State</label>
                          <select id="inputState" class="form-select form-select-sm">
                              <option selected>Choose...</option>
                              <option>...</option>
                          </select> -->
                          <div class="form-group" >
                            <label>Select Country</label>
                            <select id="inputState" class="form-select form-select-sm" (change)="onChangeCountry($event)">
                              <option selected>Choose Country...</option>
                              <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}</option>
                            </select>
                          </div>

                          <div class="form-group" >
                              <label>Select State</label>
                              <select id="inputState" class="form-select form-select-sm" (change)="onChangeState($event)">
                                <option *ngIf="stateInfo === null" value="-1">--Select State--</option>
                                <option selected>Choose State...</option>
                                <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
                              </select>
                          </div>

                          <div class="form-group" >
                              <label>Select City</label>
                              <select id="inputState" class="form-select form-select-sm" >
                                  <option *ngIf="cityInfo == null" value="-1">--Select CIty--</option>
                                  <option selected>Choose City...</option>
                                <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
                              </select>
                          </div>
                      </div>
                      <!-- <div class="col-md-3">
                          <label for="inputState" class="form-label">City</label>
                          <select id="inputState" class="form-select form-select-sm">
                              <option selected>Choose...</option>
                              <option>...</option>
                          </select>
                      </div> -->
                      <div class="col-md-3">
                          <label for="OwnerName" class="form-label">Owner Address</label>
                          <textarea rows="3" class="form-control form-control-sm" id=""></textarea>
                      </div>
                  </form>

                  <span class="d-inline-block align-middle h6 custom-border-left ps-2 mb-3">Car Information</span>
                  <form class="row g-3 mb-4">
                      <div class="col-md-3">
                          <label for="RCno" class="form-label">RC No.</label>
                          <input type="text" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="RC" class="form-label">Upload RC</label>
                          <div class="input-group">
                              <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="RCupload" aria-label="Upload">
                              <button class="btn btn-sm btn-outline-secondary" type="button" id="" title="View/ Download PDF"><i class="myicon-file-pdf"></i></button>
                            </div>
                      </div>
                      <div class="col-md-3">
                          <label for="ChassisNo" class="form-label">Chassis No.</label>
                          <input type="text" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="RC" class="form-label">Upload Insurance</label>
                          <div class="input-group">
                              <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="RCupload" aria-label="Upload">
                              <button class="btn btn-sm btn-outline-secondary" type="button" id="" title="View/ Download PDF"><i class="myicon-file-pdf"></i></button>
                            </div>
                      </div>
                      <div class="col-md-3">
                          <label for="InsuranceYearFrom" class="form-label">Insurance Valid From</label>
                          <input type="date" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="InsuranceYearTo" class="form-label">Insurance Valid Till</label>
                          <input type="date" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="RC" class="form-label">Upload Pollution</label>
                          <div class="input-group">
                              <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="RCupload" aria-label="Upload">
                              <button class="btn btn-sm btn-outline-secondary" type="button" id="" title="View/ Download PDF"><i class="myicon-file-pdf"></i></button>
                            </div>
                      </div>
                      <div class="col-md-3">
                          <label for="PollutionYearFrom" class="form-label">Pollution Valid From</label>
                          <input type="date" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="PollutionYearTo" class="form-label">Pollution Valid Till</label>
                          <input type="date" class="form-control form-control-sm" id="">
                      </div>
                      <div class="col-md-3">
                          <label for="RC" class="form-label">Upload Car Image</label>
                          <div class="input-group">
                              <input type="file" class="form-control form-control-sm" id="inputGroupFile04" aria-describedby="RCupload" aria-label="Upload">
                              <button class="btn btn-sm btn-outline-secondary" type="button" id="" title="View/ Download Image"><i class="myicon-image1"></i></button>
                            </div>
                      </div>
                  </form>
                  <div class="col-md-3">
                      <button type="button" class="btn btn-sm btn-success me-2">Submit</button>
                      <button type="button" class="btn btn-sm btn-secondary">Cancel</button>
                  </div>
                  <!-- <div class="table-responsive">
                      <table id="example" class="table rounded">
                          <thead class="sticky-top">
                              <tr class="text-dark">
                                  <th style="width: 2rem;" class="custom-table-head">#</th>
                                  <th style="width: 15rem;" class="custom-table-head">Name</th>
                                  <th style="width: 12rem;" class="custom-table-head">Due Date</th>
                                  <th style="width: 10rem;" class="custom-table-head">Status</th>
                                  <th style="width: 15rem;" class="custom-table-head">Completion</th>
                                  <th style="width: 15rem;" class="custom-table-head text-center">Actions</th>
                              </tr>
                          </thead>
                          <tbody class="align-middle">
                              <tr>
                                  <th scope="row">1</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-yellow"></span> In progress</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                              style="min-width: 70%;">70%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">2</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-green"></span> Completed</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                              style="min-width: 100%;">100%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">3</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-green"></span> Completed</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                              style="min-width: 100%;">100%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">4</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-green"></span> Completed</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                              style="min-width: 100%;">100%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">5</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-yellow"></span> In progress</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                              style="min-width: 70%;">70%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">6</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-red"></span> At risk</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger"
                                              style="min-width: 20%;">20%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">7</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-green"></span> Completed</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                              style="min-width: 100%;">100%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">8</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-green"></span> Completed</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                              style="min-width: 100%;">100%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                              <tr>
                                  <th scope="row">9</th>
                                  <td>Website Redesign</td>
                                  <td>23-01-2022</td>
                                  <td><span class="dot-green"></span> Completed</td>
                                  <td>
                                      <div class="progress" style="height: 10px; font-size: 8px;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                              style="min-width: 100%;">100%</div>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="text-center">
                                          <div class="btn-group me-2" role="group" aria-label="First group">
                                              <button type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-eye1 fs-6"></i></button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                              <button id="jasa" type="button" class="btn btn-sm btn-neutral"><i
                                                      class="myicon-trash fs-6"></i></button>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div> -->
              </div>
            </div>
      </div>
  </div>

</div>

<!-- <div class="container-fluid px-4">
  <div class="row mt-4 mb-3">
      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="card p-3 mb-2 card-light-shadow">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon"> <i class="myicon-credit-card1"></i> </div>
                      <div class="ms-2 c-details">
                          <h6 class="mb-0">BUDGET</h6> <span>Since last month</span>
                      </div>
                  </div>
                  <div class="badge"> <span>Design</span> </div>
              </div>
              <div class="mt-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <h3 class="heading">Rs.50000</h3>
                      </div>
                      <div class="badge-count-green"> <span>10%<i class="icon-arrow-up ms-1 fs-7"></i></span> </div>
                  </div>
                  <div class="mt-2 border-top">
                      <div class="mt-2"> <span class="text1">32 Applied <span class="text2">of 50
                                  capacity</span></span> </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="card p-3 mb-2 card-light-shadow">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon"> <i class="myicon-pie-chart1"></i> </div>
                      <div class="ms-2 c-details">
                          <h6 class="mb-0">NEW PROJECTS</h6> <span>Since last week</span>
                      </div>
                  </div>
                  <div class="badge"> <span>Product</span> </div>
              </div>
              <div class="mt-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <h3 class="heading count">42</h3>
                      </div>
                      <div class="badge-count-red"> <span>5%<i class="icon-arrow-down ms-1 fs-7"></i></span> </div>
                  </div>
                  <div class="mt-2 border-top">
                      <div class="mt-2"> <span class="text1">42 Applied <span class="text2">of 70
                                  capacity</span></span> </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <div class="card p-3 mb-2 card-light-shadow">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon"> <i class="myicon-clock1"></i> </div>
                      <div class="ms-2 c-details">
                          <h6 class="mb-0">TOTAL HOURS</h6> <span>Since Yesterday</span>
                      </div>
                  </div>
                  <div class="badge"> <span>Design</span> </div>
              </div>
              <div class="mt-2">
                  <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                          <h3 class="heading">52</h3>
                      </div>
                      <div class="badge-count-green"> <span>8%<i class="icon-arrow-up ms-1 fs-7"></i></span> </div>
                  </div>
                  <div class="mt-2 border-top">
                      <div class="mt-2"> <span class="text1">52 Applied <span class="text2">of 100
                                  capacity</span></span> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div> -->
<!-- /#page-content-wrapper -->
