



<header class="header-area">

    <div class="top-header-area py-2">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7">
                    <div class="contact-info">
                        <div class="content">
                            <i class='bx bx-phone'></i>
                            <a href="tel:+0123456987">+91282828282</a>
                        </div>
                        <div class="content">
                            <i class='bx bx-envelope'></i>
                            <a
                                href="#"><span
                                    class="__cf_email__"
                                    data-cfemail="">example@abc.com</span></a>
                        </div>
                        <div class="content">
                            <i class='bx bx-map'></i>
                            <a href="#">Ranchi, Jharkhand</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="side-option">
                        <div class="item">
                            <a routerLink="login" class="btn-secondary">
                                Login <i class='bx bx-log-in-circle'></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo1.png" class="logo1" alt="Logo" width="150">
                            <img src="assets/img/logo2.png" class="logo2" alt="Logo" width="150">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo1.png" class="logo1" alt="Logo" width="150">
                        <img src="assets/img/logo2.png" class="logo2" alt="Logo" width="150">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link active toggle">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/aboutUs" class="nav-link toggle">About Us<i class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle">Services<i
                                        class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Bus Booking</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Truck Booking</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Taxi Booking</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Franchise</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Career</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>