



<header class="header-area">

    <div class="top-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7">
                    <div class="contact-info">
                        <div class="content">
                            <i class='bx bx-phone'></i>
                            <a href="tel:+0123456987">+0123 456 987</a>
                        </div>
                        <div class="content">
                            <i class='bx bx-envelope'></i>
                            <a
                                href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#68000d0404072802091d061c460b0705"><span
                                    class="__cf_email__"
                                    data-cfemail="7d15181111123d171c081309531e1210">[email&#160;protected]</span></a>
                        </div>
                        <div class="content">
                            <i class='bx bx-map'></i>
                            <a href="#">Mon-Fri: 8 AM – 7 PM</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <div class="side-option">
                        <div class="item">
                            <a href="/login" class="btn-secondary">
                                Login <i class='bx bx-log-in-circle'></i>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#searchBox" id="searchButton" class="btn-search" data-effect="mfp-zoom-in">
                                <i class='bx bx-search-alt'></i>
                            </a>
                            <div id="searchBox" class="search-box mfp-with-anim mfp-hide">
                                <form class="search-form">
                                    <input class="search-input" name="search" placeholder="Search" type="text">
                                    <button class="btn-search">
                                        <i class='bx bx-search-alt'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo1.png" class="logo1" alt="Logo" width="150">
                            <img src="assets/img/logo2.png" class="logo2" alt="Logo" width="150">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo1.png" class="logo1" alt="Logo" width="150">
                        <img src="assets/img/logo2.png" class="logo2" alt="Logo" width="150">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="contact.html" class="nav-link active toggle">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle">About Us<i class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Privacy Policy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link toggle">Destinations<i
                                        class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="destinations.html" class="nav-link">Destinations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="destination-details.html" class="nav-link">Destinations Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link toggle">Tours<i
                                        class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="tours.html" class="nav-link">Tours</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="special-offers.html" class="nav-link">Trip Offers</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/aboutUs" class="nav-link">About</a>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link toggle">Blog<i
                                        class='bx bxs-chevron-down'></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="blog-style-1.html" class="nav-link">Blog Style One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-style-2.html" class="nav-link">Blog Style Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-style-3.html" class="nav-link">Blog Style Three</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="blog-details.html" class="nav-link">Blog Details</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>
                        </ul>
                        <div class="cart">
                            <a href="cart.html" class="cart-btn"><i class='bx bx-cart'></i>
                                <span class="badge">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

</header>