<div id="page-content-wrapper">
<div class="container-fluid pt-4 pb-1 px-4">
  <div class="col-lg-12">
    <div class="row g-3">
      <div class="d-flex justify-content-between mt-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-1">
            <li class="breadcrumb-item text-custom">
              <a href="javascript:void();"><i class="myicon-home1 me-2"></i>Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ bookingtype }}
            </li>
          </ol>
        </nav>
        <div>
          <button
            class="btn btn-light btn-sm p-btn-sm btn-light-shadow me-2 rounded"
          >
            Share
          </button>
          <button
            class="btn btn-success btn-sm p-btn-sm btn-dark-shadow rounded"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            <i class="myicon-plus-square fs-6 me-2"></i>Create
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid px-4">
            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="javascript:void();">View All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void();">Most Recent</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void();">Popular</a>
                    </li>
                </ul>
            </div>
        </div> -->

<div class="container-fluid">
  <div class="row mt-0">
    <!-- <div class="col-lg-6 col-sm-12">
                    <div id="bar"></div>
                </div> -->
    <div class="col-lg-12 col-sm-12">
      <div class="card border-0">
        <div class="card-header pt-1">
          <!-- <h4 class="fs-6">Monthly Incidents</h4> -->
          <span class="d-inline-block align-middle h6">{{ bookingtype }}</span>
        </div>
        <div class="card-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="fromcity" class="form-label">From City</label>
              <select id="" class="form-select">
                <option selected>Choose...</option>
                <option>JAMMU AND KASHMIR</option>
                <option>HIMACHAL PRADESH</option>
                <option>PUNJAB</option>
                <option>CHANDIGARH</option>
                <option>UTTARAKHAND</option>
                <option>HARYANA</option>
                <option>DELHI</option>
                <option>RAJASTHAN</option>
                <option>UTTAR PRADESH</option>
                <option>BIHAR</option>
                <option>SIKKIM</option>
                <option>ARUNACHAL PRADESH</option>
                <option>NAGALAND</option>
                <option>MANIPUR</option>
                <option>MIZORAM</option>
                <option>TRIPURA</option>
                <option>MEGHALAYA</option>
                <option>ASSAM</option>
                <option>WEST BENGAL</option>
                <option>JHARKHAND</option>
                <option>ODISHA</option>
                <option>CHATTISGARH</option>
                <option>MADHYA PRADESH</option>
                <option>GUJARAT</option>
                <option>
                  DADRA AND NAGAR HAVELI AND DAMAN AND DIU (NEWLY MERGED UT)
                </option>
                <option>MAHARASHTRA</option>
                <option>ANDHRA PRADESH(BEFORE DIVISION)</option>
                <option>KARNATAKA</option>
                <option>GOA</option>
                <option>LAKSHADWEEP</option>
                <option>KERALA</option>
                <option>TAMIL NADU</option>
                <option>PUDUCHERRY</option>
                <option>ANDAMAN AND NICOBAR ISLANDS</option>
                <option>TELANGANA</option>
                <option>ANDHRA PRADESH (NEWLY ADDED)</option>
                <option>LADAKH (NEWLY ADDED)</option>
                <option>OTHER TERRITORY</option>
                <option>CENTRE JURISDICTION</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="tocity" class="form-label">To City</label>
              <select id="" class="form-select">
                <option selected>Choose...</option>
                <option>JAMMU AND KASHMIR</option>
                <option>HIMACHAL PRADESH</option>
                <option>PUNJAB</option>
                <option>CHANDIGARH</option>
                <option>UTTARAKHAND</option>
                <option>HARYANA</option>
                <option>DELHI</option>
                <option>RAJASTHAN</option>
                <option>UTTAR PRADESH</option>
                <option>BIHAR</option>
                <option>SIKKIM</option>
                <option>ARUNACHAL PRADESH</option>
                <option>NAGALAND</option>
                <option>MANIPUR</option>
                <option>MIZORAM</option>
                <option>TRIPURA</option>
                <option>MEGHALAYA</option>
                <option>ASSAM</option>
                <option>WEST BENGAL</option>
                <option>JHARKHAND</option>
                <option>ODISHA</option>
                <option>CHATTISGARH</option>
                <option>MADHYA PRADESH</option>
                <option>GUJARAT</option>
                <option>
                  DADRA AND NAGAR HAVELI AND DAMAN AND DIU (NEWLY MERGED UT)
                </option>
                <option>MAHARASHTRA</option>
                <option>ANDHRA PRADESH(BEFORE DIVISION)</option>
                <option>KARNATAKA</option>
                <option>GOA</option>
                <option>LAKSHADWEEP</option>
                <option>KERALA</option>
                <option>TAMIL NADU</option>
                <option>PUDUCHERRY</option>
                <option>ANDAMAN AND NICOBAR ISLANDS</option>
                <option>TELANGANA</option>
                <option>ANDHRA PRADESH (NEWLY ADDED)</option>
                <option>LADAKH (NEWLY ADDED)</option>
                <option>OTHER TERRITORY</option>
                <option>CENTRE JURISDICTION</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="inputEmail4" class="form-label"> Date</label>
              <input
                type="date"
                class="form-control"
                id="inputEmail4"
              />
            </div>
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-sm btn-success"
                (click)="toggleDisplayDivIf()"
              >
                Search
              </button>
            </div>
          </div>
          <hr class="h-rule" />
          <div class="table-responsive" *ngIf="!isShowDivIf">
            <table id="example" class="table rounded">
              <thead class="sticky-top">
                <tr>
                  <th class="custom-table-head">Buses</th>
                  <th class="custom-table-head">Departure</th>
                  <th class="custom-table-head">Duration</th>
                  <th class="custom-table-head">Arrival</th>
                  <th class="custom-table-head">Ratings</th>
                  <th class="custom-table-head">Fare</th>
                  <th class="custom-table-head">Seats Available</th>
                  <th class="custom-table-head">Book Now</th>
                </tr>
              </thead>
              <tbody class="align-middle">
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
                <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
               <tr>
                  <td>
                    <span class="fw-bold">MAHALAXMI BUS</span><br /><small>A/C Seater / Sleeper (2+1)</small>
                  </td>
                  <td><span class="fw-bold fs-5">21:40</span><br><small>Badambari Bus Stand</small></td>
                  <td>07h 20m</td>
                  <td><span class="fs-5">05:00</span> <br><span class="text-danger">30 Mar</span><br><small>Mango Bus Stand</small></td>
                  <td><h6><span class="badge bg-success"><i class="myicon-star"></i> 4.3</span></h6></td>
                  <td>INR <span class="fw-bold fs-5">615</span></td>
                  <td>30 Seats available</td>
                  <td><button class="btn btn-warning bt-sm">Book</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid px-4">
            <div class="row mt-4 mb-3">
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="card p-3 mb-2 card-light-shadow">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="myicon-credit-card1"></i> </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">BUDGET</h6> <span>Since last month</span>
                                </div>
                            </div>
                            <div class="badge"> <span>Design</span> </div>
                        </div>
                        <div class="mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <h3 class="heading">Rs.50000</h3>
                                </div>
                                <div class="badge-count-green"> <span>10%<i class="icon-arrow-up ms-1 fs-7"></i></span> </div>
                            </div>
                            <div class="mt-2 border-top">
                                <div class="mt-2"> <span class="text1">32 Applied <span class="text2">of 50
                                            capacity</span></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="card p-3 mb-2 card-light-shadow">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="myicon-pie-chart1"></i> </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">NEW PROJECTS</h6> <span>Since last week</span>
                                </div>
                            </div>
                            <div class="badge"> <span>Product</span> </div>
                        </div>
                        <div class="mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <h3 class="heading count">42</h3>
                                </div>
                                <div class="badge-count-red"> <span>5%<i class="icon-arrow-down ms-1 fs-7"></i></span> </div>
                            </div>
                            <div class="mt-2 border-top">
                                <div class="mt-2"> <span class="text1">42 Applied <span class="text2">of 70
                                            capacity</span></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="card p-3 mb-2 card-light-shadow">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="myicon-clock1"></i> </div>
                                <div class="ms-2 c-details">
                                    <h6 class="mb-0">TOTAL HOURS</h6> <span>Since Yesterday</span>
                                </div>
                            </div>
                            <div class="badge"> <span>Design</span> </div>
                        </div>
                        <div class="mt-2">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <h3 class="heading">52</h3>
                                </div>
                                <div class="badge-count-green"> <span>8%<i class="icon-arrow-up ms-1 fs-7"></i></span> </div>
                            </div>
                            <div class="mt-2 border-top">
                                <div class="mt-2"> <span class="text1">52 Applied <span class="text2">of 100
                                            capacity</span></span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div> -->
<!-- /#page-content-wrapper -->

<!-- <footer class="footer mt-auto py-1">
    <div class="container">
        <span class="text-white">Place sticky footer content here.</span>
    </div>
</footer> -->
</div>