<div id="home" class="home-banner-area ptb-70 bg-light">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content mb-30">
                    <span class="sub-title">Amazing Offers</span>
                    <h1>
                        Book Your Ticket And Get Great Offers
                    </h1>
                    <p>
                        MSTT provides the services of scheduled taxi, bus cargo truck, ambulance, machinery vehicle, motorcycle etc. can be obtained online according to the place and time around or desired
                    </p>
                    <div class="search-form">
                        <form id="searchForm">
                            <div class="row">
                                <div class="col-lg-12 mt-15">
                                    <button type="button" class="btn-primary">Download Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-0">
                <div class="banner-slider owl-carousel mb-30">
                    <div class="slider-item">
                        <div class="image">
                            
                            <img src="assets/img/banner/slider1.jpg" alt="Demo Image">
                        </div>
                        <div class="content">
                            <span class="location"><i class='myicon-check-circle'></i>Comfortable Journey</span>
                            <p class="mt-15 text-white">
                                We ensure the comfortability<br> of our clients at affordable<br> price range
                            </p>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="image">
                            <img src="assets/img/banner/slider2.jpg" alt="Demo Image">
                        </div>
                        <div class="content">
                            <span class="location"><i class='myicon-check-circle'></i>Comfortable Journey</span>
                            <p class="mt-15 text-white">
                                Eiffel Tower
                            </p>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="image">
                            <img src="assets/img/banner/slider3.jpg" alt="Demo Image">
                        </div>
                        <div class="content">
                            <span class="location"><i class='myicon-check-circle'></i>Comfortable Journey</span>
                            <p class="mt-15 text-white">
                                Eiffel Tower
                            </p>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="image">
                            <img src="assets/img/banner/slider4.jpg" alt="Demo Image">
                        </div>
                        <div class="content">
                            <span class="location"><i class='myicon-check-circle'></i>Comfortable Journey</span>
                            <p class="mt-15 text-white">
                                Eiffel Tower
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div id="owl-custom-dots" class='owl-dots'>
                    <img class="owl-dot" src="assets/img/banner/slider1.jpg" id="0" alt="Demo Image">
                    <img class="owl-dot" src="assets/img/banner/slider2.jpg" id="1"  alt="Demo Image">
                    <img class="owl-dot" src="assets/img/banner/slider3.jpg"  id="2"  alt="Demo Image">
                    <img class="owl-dot" src="assets/img/banner/slider4.jpg" id="3"  alt="Demo Image">
                </div> -->
            </div>
        </div>
    </div>
</div>


<section id="about" class="about-section pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="video-content mb-30">
                    <div class="video-image">
                        <img src="assets/img/about1.jpg" alt="video" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content mb-30">
                    <h2>
                        About Us
                    </h2>
                    <h6>
                        Top Tour Operators and Travel Agency. We offering in total 793 tours and holidays throughout
                        the world. Combined we have received 1532 customer reviews and an average rating of 5 out of
                        5 stars.
                    </h6>
                    <p>
                        Travel has helped us to understand the meaning of life and it has helped us become better
                        people. Each time we travel, we see the world with new eyes.
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="content-list">
                                <i class='bx bx-check-shield'></i>
                                <h6>Comfortable Journey</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content-list">
                                <i class='bx bx-donate-heart'></i>
                                <h6>User-Friendly Application</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content-list">
                                <i class='bx bx-time'></i>
                                <h6>Safe & Secure</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content-list">
                                <i class='bx bx-station'></i>
                                <h6>Fast Communication</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content-list">
                                <i class='bx bx-like'></i>
                                <h6>Easy To Book</h6>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="content-list">
                                <i class='bx bx-support'></i>
                                <h6>24/7 Customer Support</h6>
                            </div>
                        </div>
                    </div>
                    <div class="about-btn">
                        <a href="contact.html" class="btn-primary">Contact Us</a>
                        <a href="about-us.html" class="btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape shape-1">
        <img src="assets/img/shape1.png" alt="Background Shape">
    </div>
    <div class="shape shape-2">
        <img src="assets/img/shape2.png" alt="Background Shape">
    </div>
</section>


<section id="destination" class="destination-section pt-100 pb-70 bg-light">
    <div class="container">
        <div class="section-title">
            <h2>Destinations</h2>
            <p>Travel has helped us to understand the meaning of life and it has helped us become better people.
                Each time we travel, we see the world with new eyes.</p>
        </div>
        <div class="row filtr-container">
            <div class="col-lg-4 col-md-6 filtr-item" data-category="1" data-sort="value">
                <div class="item-single mb-30">
                    <div class="image">
                        <img src="assets/img/destination1.jpg" alt="Demo Image">
                    </div>
                    <div class="content">
                        <span class="location"><i class='bx bx-map'></i>Hvar, Croatia</span>
                        <h3>
                            <a href="destination-details.html">Piazza Castello</a>
                        </h3>
                        <div class="review">
                            <i class='bx bx-smile'></i>
                            <span>8.5</span>
                            <span>Superb</span>
                        </div>
                        <p>
                            A wonderful little cottage right on the seashore - perfect for exploring.
                        </p>
                        <hr>
                        <ul class="list">
                            <li><i class='bx bx-time'></i>3 Days</li>
                            <li><i class='bx bx-group'></i>160+</li>
                            <li>$500</li>
                        </ul>
                    </div>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 filtr-item" data-category="2, 1" data-sort="value">
                <div class="item-single mb-30">
                    <div class="image">
                        <img src="assets/img/destination2.jpg" alt="Demo Image">
                    </div>
                    <div class="content">
                        <span class="location"><i class='bx bx-map'></i>Santorini, Oia, Greece</span>
                        <h3>
                            <a href="destination-details.html">Santorini, Oia, Greece</a>
                        </h3>
                        <div class="review">
                            <i class='bx bx-smile'></i>
                            <span>9</span>
                            <span>Superb</span>
                        </div>
                        <p>
                            A wonderful little cottage right on the seashore - perfect for exploring.
                        </p>
                        <hr>
                        <ul class="list">
                            <li><i class='bx bx-time'></i>7 Days</li>
                            <li><i class='bx bx-group'></i>65+</li>
                            <li>$2000</li>
                        </ul>
                    </div>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 filtr-item" data-category="2" data-sort="value">
                <div class="item-single mb-30">
                    <div class="image">
                        <img src="assets/img/destination3.jpg" alt="Demo Image">
                    </div>
                    <div class="content">
                        <span class="location"><i class='bx bx-map'></i>Rialto Bridge, Italy</span>
                        <h3>
                            <a href="destination-details.html">Rialto Bridge</a>
                        </h3>
                        <div class="review">
                            <i class='bx bx-smile'></i>
                            <span>7.5</span>
                            <span>Superb</span>
                        </div>
                        <p>
                            A wonderful little cottage right on the seashore - perfect for exploring.
                        </p>
                        <hr>
                        <ul class="list">
                            <li><i class='bx bx-time'></i>5 Days</li>
                            <li><i class='bx bx-group'></i>96+</li>
                            <li>$2100</li>
                        </ul>
                    </div>
                    <div class="spacer"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="offers" class="offers-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Special Offers & Discount</h2>
            <p>Travel has helped us to understand the meaning of life and it has helped us become better people.
                Each time we travel, we see the world with new eyes.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-30">
                    <div class="image">
                        <img src="assets/img/offer1.jpg" alt="Demo Image">
                    </div>
                    <div class="content">
                        <div class="review">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span>39 Review</span>
                        </div>
                        <div class="title">
                            <h3>
                                <a href="tours.html">Asia Tour</a>
                            </h3>
                            <span>$2000</span>
                        </div>
                        <ul class="list">
                            <li><i class='bx bx-time'></i>7 Days</li>
                            <li><i class='bx bx-group'></i>60+</li>
                            <li>$1500</li>
                        </ul>
                    </div>
                    <div class="discount">
                        <span>Discount</span>
                        <span>30%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item-single mb-30">
                    <div class="image">
                        <img src="assets/img/offer2.jpg" alt="Demo Image">
                    </div>
                    <div class="content">
                        <div class="review">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span>19 Review</span>
                        </div>
                        <div class="title">
                            <h3>
                                <a href="tours.html">Russia Tour of Couple</a>
                            </h3>
                            <span>$1600</span>
                        </div>
                        <ul class="list">
                            <li><i class='bx bx-time'></i>5 Days</li>
                            <li><i class='bx bx-group'></i>130+</li>
                            <li>$1200</li>
                        </ul>
                    </div>
                    <div class="discount">
                        <span>Discount</span>
                        <span>29%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 m-auto">
                <div class="item-single mb-30">
                    <div class="image">
                        <img src="assets/img/offer3.jpg" alt="Demo Image">
                    </div>
                    <div class="content">
                        <div class="review">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <span>35 Review</span>
                        </div>
                        <div class="title">
                            <h3>
                                <a href="tours.html">Campfire In Australia</a>
                            </h3>
                            <span>$2600</span>
                        </div>
                        <ul class="list">
                            <li><i class='bx bx-time'></i>3 Days</li>
                            <li><i class='bx bx-group'></i>91+</li>
                            <li>$2200</li>
                        </ul>
                    </div>
                    <div class="discount">
                        <span>Discount</span>
                        <span>16%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial" class="testimonial-section ptb-100 bg-light">
    <div class="container">
        <div class="section-title">
            <h2>What're Our Clients Say</h2>
            <p>Travel has helped us to understand the meaning of life and it has helped us become better people.
                Each time we travel, we see the world with new eyes.</p>
        </div>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="testimonial-slider owl-carousel">
                    <div class="slider-item">
                        <div class="client-img">
                            <img src="assets/img/client1.jpg" alt="client-1" />
                        </div>
                        <div class="content">
                            <div class="client-info">
                                <h3>Jordan Alin</h3>
                                <span>Bloger & Youtuber</span>
                            </div>
                            <div class="quote">
                                <i class='bx bxs-quote-left'></i>
                            </div>
                            <p>
                                The Personal Travel Agents Academy is a 12-month training programme allowing anyone
                                with no previous travel experience to start their own travel business. This is an
                                advanced course to help build knowledge in travel and develop sales skills.
                            </p>
                            <div class="review">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="client-img">
                            <img src="assets/img/client2.jpg" alt="client-1" />
                        </div>
                        <div class="content">
                            <div class="client-info mb-30">
                                <h3>David Milan</h3>
                                <span>Photographer</span>
                            </div>
                            <div class="quote">
                                <i class='bx bxs-quote-left'></i>
                            </div>
                            <p>
                                The Personal Travel Agents Academy is a 12-month training programme allowing anyone
                                with no previous travel experience to start their own travel business. This is an
                                advanced course to help build knowledge in travel and develop sales skills.
                            </p>
                            <div class="review mt-15">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="client-img">
                            <img src="assets/img/client3.jpg" alt="client-1" />
                        </div>
                        <div class="content">
                            <div class="client-info mb-30">
                                <h3>Thomas Alva</h3>
                                <span>Journalist</span>
                            </div>
                            <div class="quote">
                                <i class='bx bxs-quote-left'></i>
                            </div>
                            <p>
                                The Personal Travel Agents Academy is a 12-month training programme allowing anyone
                                with no previous travel experience to start their own travel business. This is an
                                advanced course to help build knowledge in travel and develop sales skills.
                            </p>
                            <div class="review mt-15">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="client-img">
                            <img src="assets/img/client4.jpg" alt="client-1" />
                        </div>
                        <div class="content">
                            <div class="client-info mb-30">
                                <h3>Jenn Lucas</h3>
                                <span>Actress & Model</span>
                            </div>
                            <div class="quote">
                                <i class='bx bxs-quote-left'></i>
                            </div>
                            <p>
                                The Personal Travel Agents Academy is a 12-month training programme allowing anyone
                                with no previous travel experience to start their own travel business. This is an
                                advanced course to help build knowledge in travel and develop sales skills.
                            </p>
                            <div class="review mt-15">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="client-img">
                            <img src="assets/img/client5.jpg" alt="client-1" />
                        </div>
                        <div class="content">
                            <div class="client-info mb-30">
                                <h3>Jordan Alin</h3>
                                <span>Bloger & Youtuber</span>
                            </div>
                            <div class="quote">
                                <i class='bx bxs-quote-left'></i>
                            </div>
                            <p>
                                The Personal Travel Agents Academy is a 12-month training programme allowing anyone
                                with no previous travel experience to start their own travel business. This is an
                                advanced course to help build knowledge in travel and develop sales skills.
                            </p>
                            <div class="review mt-15">
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                                <i class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='clients-img'>
            <img class="image image-1" src="assets/img/client1.jpg" alt="Demo Image">
            <img class="image image-2" src="assets/img/client2.jpg" alt="Demo Image">
            <img class="image image-3" src="assets/img/client3.jpg" alt="Demo Image">
            <img class="image image-4" src="assets/img/client4.jpg" alt="Demo Image">
            <img class="image image-5" src="assets/img/client5.jpg" alt="Demo Image">
        </div>
    </div>
    <div class="shape">
        <img src="assets/img/shape1.png" alt="Background Shape">
    </div>
</section>
