
<div class="banner-section1 overflow-hidden">
    <div class="cloud-icon1">
        <img src="{{asset_url}}assets/img/icons/cloud1.svg" alt="image">
    </div>
    <div class="cloud-icon2">
        <img src="{{asset_url}}assets/img/icons/cloud2.svg" alt="image">
    </div>
    <div class="cloud cloud1">
        <img src="{{asset_url}}assets/img/icons/banner-plane.svg" alt="image">
    </div>
    <div class="banner-social-area d-xxl-flex d-none">
        <ul class="banner-social-list">
            <li><a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a></li>
            <li><a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a></li>
            <li><a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class='bx bxl-pinterest'></i></a></li>
        </ul>
    </div>
    <div class="banner-image2">
        <img src="{{asset_url}}assets/img/bg/banner-image3.png" class="img-fluid" alt="image">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-2 offset-xl-1 col-lg-2 d-lg-flex d-none justify-content-end">
                <div class="banner-image1">
                    <img src="{{asset_url}}assets/img/bg/banner-image1.png" class="img-fluid" alt="image">
                </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="banner1-content">
                    <span>Let's Feel a Great Trip</span>
                    <h1>Book Your Taxi Ride With MSTT<br> At Low Rates.</h1>
                    <p>Treat yourself with a journey to your inner self.</p>
                    <div class="discover-btn">
                        <a href="destination.html" class="eg-btn btn--primary btn--lg">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 d-lg-flex d-none justify-content-lg-start justify-content-center">
            </div>
        </div>
    </div>
</div>

<div class="category-section pt-90 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center">
                <div class="section-title1">
                    <span>Travel Category</span>
                    <h2>Our Popular Tours Type</h2>
                    <img src="{{asset_url}}assets/img/icons/section-title-vector.svg" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
        <div
            class="row row-cols-xl-6 row-cols-lg-4 row-cols-md-4 row-cols-sm-3 row-cols-2 justify-content-center g-xxl-5 g-4">
            <div class="col">
                <div class="category-single1">
                    <div class="icon">
                        <img src="{{asset_url}}assets/img/icons/bus.svg" alt="image" width="50">
                    </div>
                    <div class="content">
                        <h4><a href="tour-package.html">Bus Booking</a></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="category-single1">
                    <div class="icon">
                        <img src="{{asset_url}}assets/img/icons/taxi.svg" alt="image" width="50">
                    </div>
                    <div class="content">
                        <h4><a href="tour-package.html">Taxi Booking</a></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="category-single1">
                    <div class="icon">
                        <img src="{{asset_url}}assets/img/icons/truck.svg" alt="image" width="50">
                    </div>
                    <div class="content">
                        <h4><a href="tour-package.html">Truck Booking</a></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="category-single1">
                    <div class="icon">
                        <img src="{{asset_url}}assets/img/icons/bike.svg" alt="image" width="50">
                    </div>
                    <div class="content">
                        <h4><a href="tour-package.html">Bike Booking</a></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="category-single1">
                    <div class="icon">
                        <img src="{{asset_url}}assets/img/icons/plane.svg" alt="image" width="50">
                    </div>
                    <div class="content">
                        <h4><a href="tour-package.html">Air Ticket</a></h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="category-single1">
                    <div class="icon">
                        <img src="{{asset_url}}assets/img/icons/city-tour.svg" alt="image">
                    </div>
                    <div class="content">
                        <h4><a href="tour-package.html">Hotel Booking</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="deal-section pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10 text-center">
                <div class="section-title1">
                    <span>Deals & Offer</span>
                    <h2>MSTT Amazing Deals!</h2>
                    <img src="{{asset_url}}assets/img/icons/section-title-vector.svg" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center g-4">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                <div class="deal-single1">
                    <div class="deal-image">
                        <span class="favourite">
                            <i class="bi bi-suit-heart-fill"></i>
                        </span>
                        <span class="discount-bagde">20%</span>
                        <img src="{{asset_url}}assets/img/bg/slider1.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="deal-content">
                        <div class="review-area">
                            <ul class="star-list">
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-half"></i></li>
                            </ul>
                            <span>(10 Review)</span>
                        </div>
                        <h4><a href="javascript:void();">Rajasthan</a></h4>
                        <!-- <div class="price">
                            <span>From $260</span><del>/S480</del>
                        </div> -->
                        <a href="javascript:void();" class="eg-btn btn--primary-outline btn--md">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                <div class="deal-single1">
                    <div class="deal-image">
                        <span class="favourite">
                            <i class="bi bi-suit-heart-fill"></i>
                        </span>
                        <span class="discount-bagde">15%</span>
                        <img src="{{asset_url}}assets/img/bg/slider2.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="deal-content">
                        <div class="review-area">
                            <ul class="star-list">
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-half"></i></li>
                            </ul>
                            <span>(10 Review)</span>
                        </div>
                        <h4><a href="javascript:void();">Kerala</a></h4>
                        <!-- <div class="price">
                            <span>From $250</span><del>/S480</del>
                        </div> -->
                        <a href="javascript:void();" class="eg-btn btn--primary-outline btn--md">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                <div class="deal-single1">
                    <div class="deal-image">
                        <span class="favourite">
                            <i class="bi bi-suit-heart-fill"></i>
                        </span>
                        <span class="discount-bagde">25%</span>
                        <img src="{{asset_url}}assets/img/bg/slider3.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="deal-content">
                        <div class="review-area">
                            <ul class="star-list">
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-half"></i></li>
                            </ul>
                            <span>(10 Review)</span>
                        </div>
                        <h4><a href="javascript:void();">Punjab</a></h4>
                        <!-- <div class="price">
                            <span>From $280</span><del>/S480</del>
                        </div> -->
                        <a href="javascript:void();" class="eg-btn btn--primary-outline btn--md">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                <div class="deal-single1">
                    <div class="deal-image">
                        <span class="favourite">
                            <i class="bi bi-suit-heart-fill"></i>
                        </span>
                        <span class="discount-bagde">23%</span>
                        <img src="{{asset_url}}assets/img/bg/slider4.jpg" class="img-fluid" alt="image">
                    </div>
                    <div class="deal-content">
                        <div class="review-area">
                            <ul class="star-list">
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-half"></i></li>
                            </ul>
                            <span>(10 Review)</span>
                        </div>
                        <h4><a href="javascript:void();">Delhi</a></h4>
                        <!-- <div class="price">
                            <span>From $290</span><del>/S480</del>
                        </div> -->
                        <a href="javascript:void();" class="eg-btn btn--primary-outline btn--md">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="destination-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-10 text-center">
                <div class="section-title1">
                    <span>Destination</span>
                    <h2>Your Desired Destination</h2>
                    <img src="{{asset_url}}assets/img/icons/section-title-vector.svg" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="destination-wrap">
            <div class="destination-single1">
                <img src="{{asset_url}}assets/img/bg/destnation11.png" class="destination-img img-fluid" alt="image">
                <div class="content">
                    <div class="text-wrap">
                        <h4><a href="destination-details.html">Wiesbaden Sea</a></h4>
                        <p>40 Tours Place</p>
                    </div>
                </div>
            </div>
            <div class="destination-single1">
                <img src="{{asset_url}}assets/img/bg/destnation12.png" class="destination-img img-fluid" alt="image">
                <div class="content">
                    <div class="text-wrap">
                        <h4><a href="destination-details.html">California City</a></h4>
                        <p>40 Tours Place</p>
                    </div>
                </div>
            </div>
            <div class="destination-single1 order-lg-0 order-1">
                <img src="{{asset_url}}assets/img/bg/destnation13.png" class="destination-img img-fluid" alt="image">
                <div class="content">
                    <div class="text-wrap">
                        <h4><a href="destination-details.html">Grand Switzerland</a></h4>
                        <p>40 Tours Place</p>
                    </div>
                </div>
            </div>
            <div class="destination-single1">
                <img src="{{asset_url}}assets/img/bg/destnation14.png" class="destination-img img-fluid" alt="image">
                <div class="content">
                    <div class="text-wrap">
                        <h4><a href="destination-details.html">Beauty of France</a></h4>
                        <p>40 Tours Place</p>
                    </div>
                </div>
            </div>
            <div class="destination-single1">
                <img src="{{asset_url}}assets/img/bg/destnation15.png" class="destination-img img-fluid" alt="image">
                <div class="content">
                    <div class="text-wrap">
                        <h4><a href="destination-details.html">United States</a></h4>
                        <p>40 Tours Place</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-70">
            <div class="col-8 text-center">
                <a href="destination.html" class="eg-btn btn--primary-outline btn--lg">All Destination</a>
            </div>
        </div>
    </div>
</div> -->


<div class="video-section mt-90">
    <div class="container">
        <div class="row justify-content-center align-items-center g-4">
            <div class="col-lg-7 col-md-12">
                <div class="video-section-content">
                    <span>Feel The Vibe</span><img src="{{asset_url}}assets/img/icons/fly-shape1.svg" alt="image">
                    <h2>Life Begins at The End of Your Comfort Zone.</h2>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur adi- piscing elit. sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Exercitation ullam laboris
                        nisi ut aliquip ex ea commodo consequat.</p>
                    <a href="javascript:void();" class="eg-btn btn--primary btn--lg">Discover More</a>
                </div>
            </div>
            <div class="col-lg-5 col-md-10 d-flex justify-content-lg-end justify-content-center">
                <div class="video-wrapper">
                    <div class="video-play">
                        <a href="https://www.youtube.com/watch?v=u31qwQUeGuM" class="popup-youtube video-icon"><i
                                class="bx bx-play"></i></a>
                    </div>
                    <span class="watch-video">Watch Now</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="asking-form-section pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-10">
                <div class="asking-form-wrap">
                    <div class="section-title1 sibling2">
                        <h2>Feel Free To Ask</h2>
                        <img src="{{asset_url}}assets/img/icons/section-title-vector.svg" alt="image">
                    </div>
                    <form class="style-1">
                        <div class="row g-5">
                            <div class="col-md-6">
                                <div class="form-inner">
                                    <input type="text" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-inner">
                                    <input type="email" placeholder="Your E-mail">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-inner">
                                    <textarea name="message" rows="6"
                                        placeholder="Write your message here.."></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button class="eg-btn btn--primary btn--lg">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="best-plan-section pt-120 pb-120 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-10 text-center">
                <div class="section-title1">
                    <span>Choose Your Tour</span>
                    <h2>Get The Best Plans For Your’s</h2>
                    <img src="{{asset_url}}assets/img/icons/section-title-vector.svg" alt="image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 position-relative">
                <div class="swiper best-plan-slider position-relative">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="best-plan-single1">
                                <div class="image">
                                    <img src="{{asset_url}}assets/img/bg/best-plan11.png" class="img-fluid" alt="image">
                                </div>
                                <div class="content">
                                    <p>From $200</p>
                                    <h4><a href="javascript:void();">Bangkok & Krabi Even Bette</a></h4>
                                    <div class="best-plan-meta">
                                        <span class="duration"><i class="bi bi-clock"></i>2 days 3 night</span>
                                        <span class="rating"><i class="bi bi-star-fill"></i>4.8 (150)</span>
                                    </div>
                                    <div class="list-area">
                                        <h5>Free Package Facility:</h5>
                                        <ul class="plan-list1">
                                            <li>Free Best Tour Guided</li>
                                            <li>Free Messages</li>
                                            <li>No Booking Charge</li>
                                            <li>Best Rate Gurantee</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void();"
                                        class="eg-btn btn--primary-outline btn--md">Explorer Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="best-plan-single1">
                                <div class="image">
                                    <img src="{{asset_url}}assets/img/bg/best-plan12.png" class="img-fluid" alt="image">
                                </div>
                                <div class="content">
                                    <p>From $200</p>
                                    <h4><a href="javascript:void();">Caribbean Cooking Experien</a></h4>
                                    <div class="best-plan-meta">
                                        <span class="duration"><i class="bi bi-clock"></i>2 days 3 night</span>
                                        <span class="rating"><i class="bi bi-star-fill"></i>4.8 (150)</span>
                                    </div>
                                    <div class="list-area">
                                        <h5>Free Package Facility:</h5>
                                        <ul class="plan-list1">
                                            <li>Free Best Tour Guided</li>
                                            <li>Free Messages</li>
                                            <li>No Booking Charge</li>
                                            <li>Best Rate Gurantee</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void();"
                                        class="eg-btn btn--primary-outline btn--md">Explorer Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="best-plan-single1">
                                <div class="image">
                                    <img src="{{asset_url}}assets/img/bg/best-plan13.png" class="img-fluid" alt="image">
                                </div>
                                <div class="content">
                                    <p>From $200</p>
                                    <h4><a href="javascript:void();">This Year Amazing Bangkok</a></h4>
                                    <div class="best-plan-meta">
                                        <span class="duration"><i class="bi bi-clock"></i>2 days 3 night</span>
                                        <span class="rating"><i class="bi bi-star-fill"></i>4.8 (150)</span>
                                    </div>
                                    <div class="list-area">
                                        <h5>Free Package Facility:</h5>
                                        <ul class="plan-list1">
                                            <li>Free Best Tour Guided</li>
                                            <li>Free Messages</li>
                                            <li>No Booking Charge</li>
                                            <li>Best Rate Gurantee</li>
                                        </ul>
                                    </div>
                                    <a href="javascript:void();"
                                        class="eg-btn btn--primary-outline btn--md">Explorer Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="slider-arrows arrows-style-1 text-center d-xl-flex d-none flex-row justify-content-between align-items-center w-100">
                    <div class="plan1-prev swiper-prev-arrow" tabindex="0" role="button"
                        aria-label="Previous slide">
                        <svg width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.00001 10.573V6L7.00001 1.42701C7.00001 1.25744 6.80224 1.16481 6.67197 1.27336L1 6L6.67197 10.7266C6.80224 10.8352 7.00001 10.7426 7.00001 10.573Z" />
                            <path
                                d="M19 6.5C19.2761 6.5 19.5 6.27614 19.5 6C19.5 5.72386 19.2761 5.5 19 5.5V6.5ZM6.67197 10.7266L6.99206 10.3425V10.3425L6.67197 10.7266ZM1 6L0.679909 5.61589L0.218975 6L0.679909 6.38411L1 6ZM6.67197 1.27336L6.35188 0.889252L6.35188 0.889253L6.67197 1.27336ZM19 5.5L7.00001 5.5V6.5L19 6.5V5.5ZM6.50001 6V10.573H7.50001V6H6.50001ZM6.99206 10.3425L1.32009 5.61589L0.679909 6.38411L6.35188 11.1107L6.99206 10.3425ZM1.32009 6.38411L6.99206 1.65747L6.35188 0.889253L0.679909 5.61589L1.32009 6.38411ZM6.50001 1.42701L6.50001 6H7.50001L7.50001 1.42701H6.50001ZM6.99206 1.65747C6.79667 1.82031 6.50001 1.68136 6.50001 1.42701H7.50001C7.50001 0.833523 6.80781 0.509313 6.35188 0.889252L6.99206 1.65747ZM6.50001 10.573C6.50001 10.3186 6.79667 10.1797 6.99206 10.3425L6.35188 11.1107C6.80781 11.4907 7.50001 11.1665 7.50001 10.573H6.50001Z" />
                        </svg>
                    </div>
                    <div class="plan1-next swiper-next-arrow" tabindex="0" role="button" aria-label="Next slide">
                        <svg width="20" height="12" viewBox="0 0 20 12" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M13 1.42701V6V10.573C13 10.7426 13.1978 10.8352 13.328 10.7266L19 6L13.328 1.27336C13.1978 1.16481 13 1.25744 13 1.42701Z" />
                            <path
                                d="M1 5.5C0.723858 5.5 0.5 5.72386 0.5 6C0.5 6.27614 0.723858 6.5 1 6.5V5.5ZM13.328 1.27336L13.0079 1.65747V1.65747L13.328 1.27336ZM19 6L19.3201 6.38411L19.781 6L19.3201 5.61589L19 6ZM13.328 10.7266L13.6481 11.1107L13.6481 11.1107L13.328 10.7266ZM1 6.5H13V5.5H1V6.5ZM13.5 6V1.42701H12.5V6H13.5ZM13.0079 1.65747L18.6799 6.38411L19.3201 5.61589L13.6481 0.889253L13.0079 1.65747ZM18.6799 5.61589L13.0079 10.3425L13.6481 11.1107L19.3201 6.38411L18.6799 5.61589ZM13.5 10.573V6H12.5V10.573H13.5ZM13.0079 10.3425C13.2033 10.1797 13.5 10.3186 13.5 10.573H12.5C12.5 11.1665 13.1922 11.4907 13.6481 11.1107L13.0079 10.3425ZM13.5 1.42701C13.5 1.68136 13.2033 1.82031 13.0079 1.65747L13.6481 0.889253C13.1922 0.509312 12.5 0.833522 12.5 1.42701H13.5Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

