

<div class="pageLoader"  *ngIf="loadding == true">
   <div class="dot"></div>
   <div class="dot"></div>
   <div class="dot"></div>
   <div class="dot"> </div>
   <div class="dot"></div>
</div>
<div class="login-4">
   <div class="container-fluid">
      <div class="row login-box">
         <div class="col-lg-6 form-section">
            <div class="form-inner">
               <a href="login-4.html" class="logo">
                  <img src="{{asset_url}}assets/admin/images/logo-white.png" alt="logo">
               </a>
               <h3>Create an account</h3>
              
               <form action="#" method="POST" id="">
                  <div class="row">
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix mb-2">
                           <select class="form-select" name="memberType" [(ngModel)]="memberType">
                              <option value="" selected>-- Select Member Type * --</option>
                              <option value="1">Admin</option>
                              <option value="2">Sate manager</option>
                              <option value="3">Cab driver</option>
                              <option value="4">Bike driver</option>
                              <option value="5">Bus driver</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <hr class="mb-4">
                  <div class="row">
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="text" class="form-control" placeholder="First Name *"
                              aria-label="First Name" name="firstName" [(ngModel)]="firstName" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="text" class="form-control" placeholder="Last Name *"
                              aria-label="Last Name" name="lastName" [(ngModel)]="lastName" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="email" type="email" class="form-control" placeholder="Email *"
                              aria-label="Email" name="email" [(ngModel)]="email" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="password" class="form-control" placeholder="Password *"
                              aria-label="Password" name="password" [(ngModel)]="password" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="password" class="form-control" placeholder="Confirm Password *"
                              aria-label="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="text" class="form-control" placeholder="Shop Name *"
                              aria-label="Shop Name" name="shopName" [(ngModel)]="shopName" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="date" class="form-control" placeholder="Date Of Birth"
                              aria-label="Date Of Birth" name="dob" [(ngModel)]="dob" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="text" class="form-control" placeholder="Pin Code *"
                              aria-label="Pin Code" name="pinCode" [(ngModel)]="pinCode" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <select class="form-select" name="state" [(ngModel)]="state" (change)="getCity($any($event.target).value)">
                              <option value="" *ngIf="stateLoading == false">-- Select State * --</option>
                              <option value="" *ngIf="stateLoading == true">Loading...</option>

                              <option *ngFor="let state of stateData;" value="{{state.stateId}}">
                                 {{state.stateName}}</option>
                           </select>
                           <!-- <input name="name" type="text" class="form-control" placeholder="State *" aria-label="State" name="state" [(ngModel)]="state"> -->
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <select class="form-select" name="city" [(ngModel)]="city">
                              <option value="" *ngIf="cityLoading == false">--Select City * --</option>
                              <option value="" *ngIf="cityLoading == true">Loading...</option>
                              <option *ngFor="let city of cityData;" value="{{city.cityId}}">
                                 {{city.cityName}}</option>
                           </select>

                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="text" class="form-control" placeholder="Mobile No. *"
                              aria-label="Mobile No." maxlength="10" name="mobileNo" [(ngModel)]="mobileNo" autocomplete="off">
                        </div>
                     </div>
                     <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="form-group position-relative clearfix mb-2">
                           <select class="form-select" name="gender" [(ngModel)]="gender">
                              <option value="" selected>-- Gender * --</option>
                              <option value="1">Male</option>
                              <option value="2">Female</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                        <div class="form-group position-relative clearfix">
                           <input name="name" type="text" class="form-control" placeholder="Address"
                              aria-label="Address" name="address" [(ngModel)]="address" autocomplete="off">
                        </div>
                     </div>
                  </div>
                  <!-- <div class="form-group clearfix position-relative password-wrapper">
                           <input name="password" type="password" class="form-control" autocomplete="off" placeholder="Password" aria-label="Password">
                           <i class="fa fa-eye password-indicator"></i>
                       </div> -->
                  <div class="form-group checkbox clearfix">
                     <div class="clearfix float-start">
                        <div class="form-check">
                           <input class="form-check-input" type="checkbox" id="rememberme">
                           <label class="form-check-label" for="rememberme">
                              I agree to the terms of service
                           </label>
                        </div>
                     </div>
                  </div>
                  <div class="form-group mb-0 clearfix">
                     <button type="submit" (click)="onSubmit()" class="btn btn-lg btn-primary btn-theme">Create
                        Account</button>
                  </div>
                  <div class="extra-login clearfix">
                     <span>Or Login With</span>
                  </div>
                  <div class="clearfix"></div>
                  <ul class="social-list">
                     <li><a href="#" class="facebook-color"><i
                              class="myicon-facebook1 facebook-i"></i><span>Facebook</span></a></li>
                     <li><a href="#" class="twitter-color"><i
                              class="myicon-twitter1 twitter-i"></i><span>Twitter</span></a></li>
                     <li><a href="#" class="google-color"><i class="myicon-google google-i"></i><span>Google</span></a>
                     </li>
                  </ul>
               </form>
               <div class="clearfix"></div>
               <p>Already a member? <a routerLink="/login">Login here</a></p>
            </div>
         </div>
         <div class="col-lg-6 bg-img clip-home"></div>
      </div>
   </div>
</div>

<div class="modal fade otpModal" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 mb-0" id="">Authenticate OTP</h1>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="text-center">Enter your Otp which is shared in your E-mail Id</p>
                <div class="row">
                    <div class="col-sm-8 mx-auto">
                        <input name="otpValid" id="otpValid" class="form-control" type="number" autocomplete="off"
                            placeholder="Enter your OTP" [(ngModel)]="userOtp">
                        <input name="encOTP" id="encOTP" class="form-control" type="hidden" placeholder="Enter your OTP"
                            [(ngModel)]="encryptOtp">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button class="btn btn-success" type="button" (click)="validateOtp()">Validate Otp</button>
            </div>
        </div>
    </div>
</div>