<!-- <p>signup works!</p>
<div class="card">
    <div class="card-body">
        <form #signUpform =ngForm (ngSubmit)="onSubmit()" >
            <input type="text" name="name" class="form-control" [(ngModel)]="name">
            <input type="email" name="email" class="form-control" [(ngModel)]="email">
            <input type="password" name="password" class="form-control" [(ngModel)]="password">
            <button type="submit" class="btn btn-danger">signUp</button>
        </form>
    </div>
</div> -->

 <!-- Login Area -->
 <section class="position-relative">
    <div class="container-fluid">
        <div class="row">
           <a routerLink="" class="back-link-mobile" data-bs-toggle="tooltip" title="Back">
              <div class="arrow-box-circle-mobile">
                 <i class="fa fa-chevron-left mt-0"></i>
              </div>
           </a>
            <div class="col-md-4 col-lg-5 col-xl-5 col-sm-12 login-image-container">
               <div class="login-info-box position-relative">
                    <div class="content-center w-100">
                       <div class="desk-image mx-auto">
                          <img class="img-fluid w-100" src="../../../assets/admin/images/desk.png" alt="desk">
                       </div>
                       <div class="login-text">
                          <h1>Sign Up</h1><br>
                          <p class="lead mb-3">Already have an account ?</p>
                          <a routerLink="../login" class="register text-center btn btn-outline-light">Login</a>
                       </div>
                    </div>
               </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-7 col-xl-7 position-relative">
              <a routerLink="" class="back-link" data-bs-toggle="tooltip" title="Back">
                 <div class="arrow-box-circle">
                    <i class="fa fa-chevron-left mt-0"></i>
                 </div>
              </a>
               <div class="form-box">
                  <div class="row">
                     <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 mx-auto">
                       <div class="card border-0">
                          <div class="card-body p-4">
                             <div class="rounded-image mb-3 mx-auto">
                                <img class="img-fluid" src="../../../assets/admin/images/user.svg" alt="user">
                             </div>
                             <!-- form-area -->
                             <h5 class="text-center">Register Here</h5>
                             <form action="#.">
                                <div class="form-floating mb-3 mt-3">
                                   <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                                   <label for="email">Email</label>
                                 </div>
                                 <div class="form-floating mt-3 mb-3">
                                   <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                                   <label for="pwd">Password</label>
                                 </div>
                                 <div class="form-floating mt-3 mb-3">
                                   <input type="text" class="form-control" id="pwd" placeholder="Confirm password" name="pswd">
                                   <label for="pwd">Confirm Password</label>
                                 </div>
                                
                                <div class="gap-2 text-center mt-5">
                                   <button style="padding: 0.38rem 4rem;" type="button" class="btn btn-primary btn-sm fw-normal">Sign Up</button>
                                </div>
                                

                                <!-- social-icons -->
                                <div class="login-types text-center mt-4 pb-1">
                                   <small>OR LOGIN WITH</small>
                                </div>
                                <div class="text-center mt-1">
                                   <ul class="social-network social-circle">
                                      <li><a href="javascript:void();" class="icoGoogle" title="Google"><i class="myicon-google"></i></a></li>
                                     <li><a href="javascript:void();" class="icoFacebook" title="Facebook"><i class="myicon-facebook1"></i></a></li>
                                     <li><a href="javascript:void();" class="icoTwitter" title="Twitter"><i class="myicon-twitter1"></i></a></li>
                                     <li><a href="javascript:void();" class="icoLinkedin" title="Linkedin"><i class="myicon-linkedin1"></i></a></li>
                                   </ul>
                                 </div>
                                 <!-- social-icons -->
                                 
                             </form>
                             <!-- form-area-ends -->
                          </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
</section>
