<div class="container-fluid pt-4 pb-1 px-4">
    <div class="col-lg-12">
        <div class="row g-3">
            <div class="d-flex justify-content-between mt-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-1">
                        <li class="breadcrumb-item text-custom"><a href="javascript:void();"><i
                                    class="myicon-home1 me-2"></i>Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                        <li class="breadcrumb-item active" aria-current="page">Bus Booking</li>
                    </ol>
                </nav>
                <div>
                    <button class="btn btn-light btn-sm p-btn-sm btn-light-shadow me-2 rounded">Share</button>
                    <button class="btn btn-success btn-sm p-btn-sm btn-dark-shadow rounded" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"> <i class="myicon-plus-square fs-6 me-2"></i>Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-4">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:void();">Passenger Details</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">


    <div class="row mt-0">
        <!-- <div class="col-lg-6 col-sm-12">
          <div id="bar"></div>
      </div> -->
        <div class="col-lg-12 col-sm-12">
            <div class="card border-0">
                <div class="card-header pt-1">
                    <span class="d-inline-block align-middle h6 custom-border-left ps-2 mb-2">Passenger
                        Information</span>
                </div>
                <div class="card-body border mx-3 rounded">
                    <div class="row g-3 mb-4">
                        <div class="col-md-12">
                            <label for="" class="form-label">Passenger 1 | <strong>Seat 20</strong></label>
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Name</label>
                            <input type="text" class="form-control" id="" name="" placeholder="Name">
                        </div>
                        <div class="col-md-12">
                            <label for="" class="form-label mb-2">Gender</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="option1">
                                <label class="form-check-label lh-25" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="option2">
                                <label class="form-check-label lh-25" for="female">Female</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">City</label>
                            <input type="text" class="form-control" id="" name="" placeholder="City">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">State</label>
                            <input type="text" class="form-control" id="" name="" readonly>
                        </div>
                    </div>
                </div>
                <div class="card-header pt-4">
                    <span class="d-inline-block align-middle h6 custom-border-left ps-2 mb-2">Contact Information</span>
                </div>
                <div class="card-body border mx-3 rounded">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="alert alert-warning p-2" role="alert">
                                Your ticket will be sent to these details
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mb-4">
                        <div class="col-md-3">
                            <label for="" class="form-label">Email Id</label>
                            <input type="email" class="form-control" id="" name="" placeholder="Email Id">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="" name="" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label lh-25" for="defaultCheck1">
                                    I have a GST number (optional)?
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">GSTIN</label>
                            <input type="email" class="form-control" id="" name="" placeholder="GSTIN">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Business Name</label>
                            <input type="text" class="form-control" id="" name="" placeholder="Business Name">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Business Address</label>
                            <input type="text" class="form-control" id="" name="" placeholder="Business Address">
                        </div>
                        <div class="col-md-3">
                            <label for="" class="form-label">Business Email</label>
                            <input type="text" class="form-control" id="" name="" placeholder="Business Email">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 mx-0 amount-section">
                    <hr class="mt-0">
                    <small class="mb-2">By clicking on proceed, I agree that I have read and understood the TnCs and the Privacy Policy</small>
                    <h3>Total Amount : INR 380.00</h3>
                    <div class="col-md-12">
                        <div class="mt-32">
                            <button type="submit" class="btn btn-success me-2">Proceed To Pay</button>
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </div>
                    </div>

                </div>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>

<!-- /#page-content-wrapper -->