/* //VARIABLES
$main-bg-color: #06966A;
$main-text-color: #524A8A;
$second-text-color: #bbbec5;
$second-bg-color: #ebd7fb;
$white-text: #fff;

// font family
$fredoka: 'Fredoka', sans-serif;
$poppins: 'Poppins', sans-serif;

//Border Radius
$border-radius: 1rem;
$border-radius-1: 2.5rem;
$border-radius-2: 2.0rem;
$border-radius-3: 1.7rem;
$border-radius-4: 1.4rem; */

body {
    font-family: 'Poppins', sans-serif !important;
}

a {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

.link-color {
    color: #524A8A;
}

.margin-btn-top {
    margin-top: 1.8rem;
}

.border-radius {
    border-radius: 1rem;
}

.border-radius-1 {
    border-radius: 2.5rem;
}

.border-radius-2 {
    border-radius: 2rem;
}

.border-radius-3 {
    border-radius: 1.7rem;
}

.border-radius-4 {
    border-radius: 1.4rem;
}

/* utilities starts */
.primary-text {
    color: #524A8A;
}

.second-text {
    color: #bbbec5;
}

.white-text {
    color: #fff !important;
}

.primary-bg {
    background-color: #06966A;
}

.secondary-bg {
    background-color: #ebd7fb;
}

.bg-light {
    background-color: white;
}

.text-theme {
    color: #307c61;
}

.rounded-full {
    border-radius: 100%;
}

.btn-light-shadow {
    box-shadow: 0 1px 1px rgb(0 0 0 / 24%);
}

.btn-dark-shadow {
    box-shadow: 0 1px 4px 1px rgb(211 123 38 / 27%);
}

.btn-success {
    color: #fff;
    background-color: #ff2f00;
    border-color: #ff2f00;
}

.btn-check:focus+.btn-success,
.btn-success:focus,
.btn-success:hover {
    background-color: #f45f3d;
    border-color: #f45f3d;
    color: #fff;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    color: var(--bs-btn-active-color);
    background-color: #f45f3d;
    border-color: #f45f3d;
}

.btn-check:active+.btn-success:focus, .btn-check:checked+.btn-success:focus, .btn-success.active:focus, .btn-success:active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(255,68,0,.3);
}

.btn-light {
    color: #000;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
}

.btn-check:focus+.btn-light,
.btn-light:focus,
.btn-light:hover {
    background-color: #dfdcdc;
    border-color: #dfdcdc;
    color: #000;
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 3px rgb(211 123 38 / 25%)
}

.btn-neutral {
    background-color: #fff;
    border-color: #e7eaf0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
    color: #16192c;
}

.btn-check:focus+.btn-neutral,
.btn-neutral:focus,
.btn-neutral:hover {
    background-color: #e7eaf0;
    border-color: #e7eaf0;
    color: #16192c;
}

.btn-check:focus+.btn-neutral,
.btn-neutral:focus {
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 3px rgb(200 203 211 / 50%);
}

.rounded-padding {
    padding: 1px 5px;
}

.btn-sm {
    font-size: .8rem;
}

.p-btn-sm {
    padding-left: 1rem;
    padding-right: 1rem;
}

.border-right {
    border-right: 1px solid #e6e6e6;
}

.fs-6 {
    font-size: .8rem !important;
}

.fs-7 {
    font-size: .7rem !important;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border: unset;
}

/* utilities ends */

.bg-nav-custom {
    position: sticky;
    top: 0;
    width: 100%;
    height: 59px;
    background-color: #fff;
    z-index: 100;
}

.text-custom {
    color: #000 !important;
}

/* main-wrapper */
#wrapper {
    /* font-size: .8rem; */
    height: 100vh;
    background-color: #fff;
    /* background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    ); */
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;
    list-style: none;
}

.breadcrumb li a {
    font-size: .8rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.breadcrumb .breadcrumb-item {
    font-size: .8rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
}


.sticky-top {
    position: sticky;
    top: 0;
    z-index: 99;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

/* page wrapper starts */
#page-content-wrapper {
    flex: 1 1 auto;
    overflow: auto;
}


/* MEDIA QUERIES STARTS */
@media (min-width: 768px) {

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
        height: 100vh;
    }

    #tog-small {
        display: none;
    }

}

@media (min-width: 1200px) {

    .h4,
    h4 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1199px) {
    .widget .fs-3 {
        font-size: 1.2rem !important;
    }

    .widget .fs-6 {
        font-size: .7rem !important;
    }

    .widget .fs-2 {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 991px) {
    .margin-card-top {
        margin-top: 40px;
    }

    .navbar-collapse {
        display: none;
    }

    table {
        width: 800px;
    }
}

@media (min-width: 992px) {
    .mobile-show {
        display: none;
    }

}

@media (max-width: 767px) {
    table {
        width: 800px;
    }

    #tog-small {
        display: block;
    }

    #tog-big {
        display: none;
    }
}

@media (max-width: 576px) {
    .mobile-hide {
        display: none;
    }

    .mobile-hide {
        display: none;
    }
}

@media (max-width: 375px) {

    .btn-sm {
        font-size: 0.7rem;
    }

    .p-btn-sm {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    .breadcrumb li a {
        font-size: 0.7rem !important;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 0.7rem !important;
    }

    .nav-link {
        color: #000;
        font-size: 0.7rem !important;
    }

    .c-details span {
        font-size: .65rem !important;
    }

    .c-details h6 {
        font-size: 0.7rem !important;
    }

    table th,
    td {
        font-size: 0.7rem !important;
    }

}

@media (max-width: 360px) {

    .btn-sm {
        font-size: 0.7rem;
    }

    .p-btn-sm {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    .breadcrumb li a {
        font-size: 0.7rem !important;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 0.7rem !important;
    }

    .nav-link {
        color: #000;
        font-size: 0.7rem !important;
    }

    .c-details span {
        font-size: .65rem !important;
    }

    .c-details h6 {
        font-size: 0.7rem !important;
    }

    table th,
    td {
        font-size: 0.7rem !important;
    }

}

@media (max-width: 320px) {

    .btn-sm {
        font-size: 0.7rem;
    }

    .p-btn-sm {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    .breadcrumb li a {
        font-size: 0.7rem !important;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 0.7rem !important;
    }

    .nav-link {
        color: #000;
        font-size: 0.7rem !important;
    }

    .c-details span {
        font-size: .65rem !important;
    }

    .c-details h6 {
        font-size: 0.7rem !important;
    }

    table th,
    td {
        font-size: 0.7rem !important;
    }

}

/* MEDIA QUERIES STARTS ENDS */


.custom-border-left {
    border-left: 4px solid #ff2f00!important;
}


.navbar a {
    cursor: pointer;
}



/* Dashboard Nav Tabs */
.animate__animated.animate__fadeInDown {
    --animate-duration: .2s;
}

.animate__animated.animate__fadeIn {
    --animate-duration: .2s;
}

.nav {
    border: none;
    margin-bottom: 25px;
}


.nav-tabs {
    border-bottom: 1px solid #009d6326;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
    isolation: isolate;
    color: #ff2f00;
    font-weight: 500;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ff2f00;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #ff2f00;
    font-weight: 500;
}

.nav-link {
    color: #000;
    /* font-weight: 600; */
    font-size: .8rem;
    ;
}

/* Dashboard Nav Tabs ends */

.scrollbar {
    float: left;
    overflow-y: scroll;
    margin-bottom: 25px;
}

/*
  *  STYLE 7
  */

#style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-7::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #524A8A;
}

/* cards */
.card {
    border: none;
    border-radius: 10px
}

.card .mt-3-1 {
    margin-top: 1.2rem !important;
}

.card-header {
    background-color: transparent;
    border-bottom: 0;
}

.card-height {
    height: 300px;
    overflow: auto;
}

.card-background {
    background-color: rgb(82 74 138 / 5%);
    ;
}

.card-light-shadow {
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(255, 98, 0, .1) 1px 8px 16px;
    transition: 300ms ease-in-out;
}

.card-light-shadow:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(255, 98, 0, 0.3) 0px 1px 3px -1px;
}


.card-small-shadow {
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 4px -3px, rgb(0 0 0 / 30%) 1px 3px 2px -2px;
    transition: 300ms ease-in-out;
}

.card-small-shadow:hover {
    box-shadow: none
}

.c-details h6 {
    font-size: .85rem;
}

.c-details span {
    font-weight: 300;
    font-size: 12px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #ffe0de;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #ff3b00;
}

.icon-trans {
    width: 50px;
    height: 50px;
    /* background-color: #eee; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon-trans img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.badge span {
    background-color: #ffe0de;
    /* width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #ff1100;
    justify-content: center;
    align-items: center;
}


.badge-red {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-red span {
    background-color: #f04141;
    /* width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.badge-green {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-green span {
    background-color: #11b743;
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}



.badge-count-red {
    display: inline-block;
    padding: 0.35em 0;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-count-red span {
    /* background-color: #ffdbdb;
  width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #f04141;
    justify-content: center;
    align-items: center;
}


.badge-count-green {
    display: inline-block;
    padding: 0.35em 0;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-count-green span {
    /* background-color: #11b743; */
    /* width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #11b743;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 7px;
    border-radius: 10px;
    background-color: #d5dde5;
}

.progress div {
    background-color: #524a8a
}

.heading {
    font-weight: 600;
}

.heading small {
    font-size: 12px;
    font-weight: 400;
}

.text1 {
    font-size: 12px;
    font-weight: 500
}

/* cards ends */


/* dropdown */
.dropdown-item {
    font-weight: 400;
    font-size: .8rem;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #e9ecef;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #ffe0de;
}

/* dropdown ends */

#bar {
    height: 300px;
    max-width: 620px;
    margin: 6px auto;
}

#line {
    height: 280px;
    max-width: 480px;
    margin: 0 auto;
}

/* #pie {
    display: table-cell;
    position:absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
  } */
/* highchart graph divs ends */

/* table */
.dot-yellow {
    height: 9px;
    width: 9px;
    background-color: #ffc107;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
}

.dot-green {
    height: 9px;
    width: 9px;
    background-color: #198754;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
}

.dot-red {
    height: 9px;
    width: 9px;
    background-color: #dc3545;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
}


table {
    border-collapse: separate !important;
    border-spacing: 0 9px !important;
}

table tbody tr {
    /* box-shadow: 0px 2px 4px #0000000b; */
}

tbody td {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

tbody td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0;
}

.table>tbody>tr>* {
    color: #2b2b2b;
    background: #e9e9e9;
}

.table>:not(:first-child) {
    border-top: none;
    /* border-top: 2px solid #99d8c1; */
}

table th,
td {
    font-size: .8rem;
}

.custom-table-head {
    font-weight: 500;
    font-size: 14px;
}

#example.dataTables_filter,
#example.dataTables_length {
    padding: 100px;
}

table.dataTable.table-hover>tbody>tr:hover>* {
    box-shadow: inset 0 0 0 9999px rgb(195 195 195 / 8%);
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    font-size: 14px !important;
}


div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em !important;
    font-size: .875rem;
}

/* table ends */



#sidebar-wrapper {
    min-height: 100vh;
    /* flex: 1 1 auto; */
    overflow: auto;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.9rem 1.25rem;
    font-size: 1.2rem;
    color: #ffffffdb;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}




/* DASHBOARD CALENDAR */
.calendar {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: .7rem;
    /* box-shadow: 0 3px 5px rgba(#000, 0.5); */
    overflow: hidden;
}

.calendar__picture {
    position: relative;
    height: 104px;
    padding: 20px;
    color: #fff;
    background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center / cover;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
}

.calendar__picture::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
}

.calendar__picture h2 {
    margin: 0;
}

.calendar__picture h3 {
    margin: 0;
    font-weight: 500;
}

.calendar__date {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    font-size: .8rem;
    font-weight: 600;
    color: #262626;
}

.calendar__day :nth-child(7) {
    color: #ff685d;
}

.calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: .8rem;
    color: #262626;
}

.calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
}

/* &--current, */
.calendar__number:hover {
    background-color: #524a8a;
    color: #fff !important;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



/* CHECKBOX COLORS */
.form-check-input:checked {
    background-color: #ff2f00;
    border-color: #ff2f00;
}

.form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 68 0 / 30%);
    border-color: #f08a73;
}


.form-label {
    font-size: .8rem;
}

.form-control-sm {
    font-size: .8rem;
}

.form-select-sm {
    font-size: .8rem;
}

.form-control:focus,
.form-select:focus {
    border-color: #fa9a7f;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255,68,0,.3);
}


/* MODAL */

.modal form {
    font-size: .8rem;
}

/* FOOTER  */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    font-size: .8rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background: #524a8a;
    margin: 0;
}


.pageLoader {
	position: fixed;
	z-index: 999999;
	background: #ffffff6e;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.pageLoader .dot {
	position: relative;
	width: 22px;
	height: 22px;
	margin: 8px;
	border-radius: 50%
}

.pageLoader .dot::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: inherit;
	border-radius: inherit;
	-webkit-animation: wave 2s ease infinite;
	animation: wave 2s ease infinite
}

.pageLoader .dot:nth-child(1) {
	background: #ff0900
}

.pageLoader .dot:nth-child(1)::before {
	-webkit-animation-delay: .2s;
	animation-delay: .2s
}

.pageLoader .dot:nth-child(2) {
	background:#ff1f00
}

.pageLoader .dot:nth-child(2)::before {
	-webkit-animation-delay: .4s;
	animation-delay: .4s
}

.pageLoader .dot:nth-child(3) {
	background: #ff3d00
}

.pageLoader .dot:nth-child(3)::before {
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}

.pageLoader .dot:nth-child(4) {
	background: #ff5a00
}

.pageLoader .dot:nth-child(4)::before {
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}

.pageLoader .dot:nth-child(5) {
	background:#ff7900
}

.pageLoader .dot:nth-child(5)::before {
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}

@-webkit-keyframes wave {

	50%,
	75% {
		-webkit-transform: scale(2.5);
		transform: scale(2.5)
	}

	80%,
	100% {
		opacity: 0
	}
}

@keyframes wave {

	50%,
	75% {
		-webkit-transform: scale(2.5);
		transform: scale(2.5)
	}

	80%,
	100% {
		opacity: 0
	}
}
