/* //VARIABLES
$main-bg-color: #06966A;
$main-text-color: #524A8A;
$second-text-color: #bbbec5;
$second-bg-color: #ebd7fb;
$white-text: #fff;

// font family
$fredoka: 'Fredoka', sans-serif;
$poppins: 'Poppins', sans-serif;

//Border Radius
$border-radius: 1rem;
$border-radius-1: 2.5rem;
$border-radius-2: 2.0rem;
$border-radius-3: 1.7rem;
$border-radius-4: 1.4rem; */

body {
    font-family: 'Poppins', sans-serif !important;
}

a {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}

.link-color {
    color: #524A8A;
}

.margin-btn-top {
    margin-top: 1.8rem;
}

.border-radius {
    border-radius: 1rem;
}

.border-radius-1 {
    border-radius: 2.5rem;
}

.border-radius-2 {
    border-radius: 2rem;
}

.border-radius-3 {
    border-radius: 1.7rem;
}

.border-radius-4 {
    border-radius: 1.4rem;
}

/* utilities starts */
.primary-text {
    color: #524A8A;
}

.second-text {
    color: #bbbec5;
}

.white-text {
    color: #fff !important;
}

.primary-bg {
    background-color: #06966A;
}

.secondary-bg {
    background-color: #ebd7fb;
}

.bg-light {
    background-color: white;
}

.text-theme {
    color: #307c61;
}

.rounded-full {
    border-radius: 100%;
}

.btn-light-shadow {
    box-shadow: 0 1px 1px rgb(0 0 0 / 24%);
}

.btn-dark-shadow {
    box-shadow: 0 1px 4px 1px rgb(211 123 38 / 27%);
}

.btn-success {
    color: #fff;
    background-color: #d37b26;
    border-color: #d37b26;
}

.btn-check:focus+.btn-success,
.btn-success:focus,
.btn-success:hover {
    background-color: #be7026;
    border-color: #be7026;
    color: #fff;
}

.btn-light {
    color: #000;
    background-color: #e9e9e9;
    border-color: #e9e9e9;
}

.btn-check:focus+.btn-light,
.btn-light:focus,
.btn-light:hover {
    background-color: #dfdcdc;
    border-color: #dfdcdc;
    color: #000;
}

.btn-check:focus+.btn-success,
.btn-success:focus {
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 3px rgb(211 123 38 / 25%)
}

.btn-neutral {
    background-color: #fff;
    border-color: #e7eaf0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
    color: #16192c;
}

.btn-check:focus+.btn-neutral,
.btn-neutral:focus,
.btn-neutral:hover {
    background-color: #e7eaf0;
    border-color: #e7eaf0;
    color: #16192c;
}

.btn-check:focus+.btn-neutral,
.btn-neutral:focus {
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 3px rgb(200 203 211 / 50%);
}

.rounded-padding {
    padding: 1px 5px;
}

.btn-sm {
    font-size: .8rem;
}

.p-btn-sm {
    padding-left: 1rem;
    padding-right: 1rem;
}

.border-right {
    border-right: 1px solid #e6e6e6;
}

.fs-6 {
    font-size: .8rem !important;
}

.fs-7 {
    font-size: .7rem !important;
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border: unset;
}

/* utilities ends */

.bg-nav-custom {
    position: sticky;
    top: 0;
    width: 100%;
    height: 59px;
    background-color: #fff;
    z-index: 100;
}

.text-custom {
    color: #000 !important;
}

/* main-wrapper */
#wrapper {
    /* font-size: .8rem; */
    height: 100vh;
    background-color: #fff;
    /* background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    ); */
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .8rem;
    list-style: none;
}

.breadcrumb li a {
    font-size: .8rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.breadcrumb .breadcrumb-item {
    font-size: .8rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
}


.sticky-top {
    position: sticky;
    top: 0;
    z-index: 99;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

/* page wrapper starts */
#page-content-wrapper {
    flex: 1 1 auto;
    overflow: auto;
}


/* MEDIA QUERIES STARTS */
@media (min-width: 768px) {

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
        height: 100vh;
    }

    #tog-small {
        display: none;
    }

}

@media (min-width: 1200px) {

    .h4,
    h4 {
        font-size: 1.1rem;
    }
}

@media (max-width: 1199px) {
    .widget .fs-3 {
        font-size: 1.2rem !important;
    }

    .widget .fs-6 {
        font-size: .7rem !important;
    }

    .widget .fs-2 {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 991px) {
    .margin-card-top {
        margin-top: 40px;
    }

    .navbar-collapse {
        display: none;
    }

    table {
        width: 800px;
    }
}

@media (min-width: 992px) {
    .mobile-show {
        display: none;
    }

}

@media (max-width: 767px) {
    table {
        width: 800px;
    }

    #tog-small {
        display: block;
    }

    #tog-big {
        display: none;
    }
}

@media (max-width: 576px) {
    .mobile-hide {
        display: none;
    }

    .mobile-hide {
        display: none;
    }
}

@media (max-width: 375px) {

    .btn-sm {
        font-size: 0.7rem;
    }

    .p-btn-sm {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    .breadcrumb li a {
        font-size: 0.7rem !important;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 0.7rem !important;
    }

    .nav-link {
        color: #000;
        font-size: 0.7rem !important;
    }

    .c-details span {
        font-size: .65rem !important;
    }

    .c-details h6 {
        font-size: 0.7rem !important;
    }

    table th,
    td {
        font-size: 0.7rem !important;
    }

}

@media (max-width: 360px) {

    .btn-sm {
        font-size: 0.7rem;
    }

    .p-btn-sm {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    .breadcrumb li a {
        font-size: 0.7rem !important;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 0.7rem !important;
    }

    .nav-link {
        color: #000;
        font-size: 0.7rem !important;
    }

    .c-details span {
        font-size: .65rem !important;
    }

    .c-details h6 {
        font-size: 0.7rem !important;
    }

    table th,
    td {
        font-size: 0.7rem !important;
    }

}

@media (max-width: 320px) {

    .btn-sm {
        font-size: 0.7rem;
    }

    .p-btn-sm {
        padding-left: .6rem;
        padding-right: .6rem;
    }

    .breadcrumb li a {
        font-size: 0.7rem !important;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 0.7rem !important;
    }

    .nav-link {
        color: #000;
        font-size: 0.7rem !important;
    }

    .c-details span {
        font-size: .65rem !important;
    }

    .c-details h6 {
        font-size: 0.7rem !important;
    }

    table th,
    td {
        font-size: 0.7rem !important;
    }

}

/* MEDIA QUERIES STARTS ENDS */


.navbar a {
    cursor: pointer;
}



/* Dashboard Nav Tabs */
.animate__animated.animate__fadeInDown {
    --animate-duration: .2s;
}

.animate__animated.animate__fadeIn {
    --animate-duration: .2s;
}


.nav-tabs {
    border-bottom: 1px solid #009d6326;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent;
    isolation: isolate;
    color: #524A8A;
    font-weight: 500;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #524A8A;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #524A8A;
    font-weight: 500;
}

.nav-link {
    color: #000;
    /* font-weight: 600; */
    font-size: .8rem;
    ;
}

/* Dashboard Nav Tabs ends */

.scrollbar {
    float: left;
    overflow-y: scroll;
    margin-bottom: 25px;
}

/*
  *  STYLE 7
  */

#style-7::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#style-7::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #524A8A;
}

/* cards */
.card {
    border: none;
    border-radius: 10px
}

.card .mt-3-1 {
    margin-top: 1.2rem !important;
}

.card-header {
    background-color: transparent;
    border-bottom: 0;
}

.card-height {
    height: 300px;
    overflow: auto;
}

.card-background {
    background-color: rgb(82 74 138 / 5%);
    ;
}

.card-light-shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition: 300ms ease-in-out;
}

.card-light-shadow:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.card-small-shadow {
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 4px -3px, rgb(0 0 0 / 30%) 1px 3px 2px -2px;
    transition: 300ms ease-in-out;
}

.card-small-shadow:hover {
    box-shadow: none
}

.c-details h6 {
    font-size: .85rem;
}

.c-details span {
    font-weight: 300;
    font-size: 12px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px
}

.icon-trans {
    width: 50px;
    height: 50px;
    /* background-color: #eee; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.icon-trans img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.badge span {
    background-color: #eae7ff;
    /* width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #524a8a;
    justify-content: center;
    align-items: center;
}


.badge-red {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-red span {
    background-color: #f04141;
    /* width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.badge-green {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-green span {
    background-color: #11b743;
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}



.badge-count-red {
    display: inline-block;
    padding: 0.35em 0;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-count-red span {
    /* background-color: #ffdbdb;
  width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #f04141;
    justify-content: center;
    align-items: center;
}


.badge-count-green {
    display: inline-block;
    padding: 0.35em 0;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-count-green span {
    /* background-color: #11b743; */
    /* width: 60px; */
    padding: 2px 10px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #11b743;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 7px;
    border-radius: 10px;
    background-color: #d5dde5;
}

.progress div {
    background-color: #524a8a
}

.heading {
    font-weight: 600;
}

.heading small {
    font-size: 12px;
    font-weight: 400;
}

.text1 {
    font-size: 12px;
    font-weight: 500
}

/* cards ends */


/* dropdown */
.dropdown-item {
    font-weight: 400;
    font-size: .8rem;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #e9ecef;
}

/* dropdown ends */

#bar {
    height: 300px;
    max-width: 620px;
    margin: 6px auto;
}

#line {
    height: 280px;
    max-width: 480px;
    margin: 0 auto;
}

/* #pie {
    display: table-cell;
    position:absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
  } */
/* highchart graph divs ends */

/* table */
.dot-yellow {
    height: 9px;
    width: 9px;
    background-color: #ffc107;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
}

.dot-green {
    height: 9px;
    width: 9px;
    background-color: #198754;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
}

.dot-red {
    height: 9px;
    width: 9px;
    background-color: #dc3545;
    border-radius: 50%;
    margin-right: 4px;
    display: inline-block;
}


table {
    border-collapse: separate !important;
    border-spacing: 0 9px !important;
}

table tbody tr {
    /* box-shadow: 0px 2px 4px #0000000b; */
}

tbody th {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

tbody td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0;
}

.table>tbody>tr>* {
    color: #2b2b2b;
    background: #f2f2f2;
}

.table>:not(:first-child) {
    border-top: none;
    /* border-top: 2px solid #99d8c1; */
}

table th,
td {
    font-size: .8rem;
}

.custom-table-head {
    font-weight: 500;
    font-size: 14px;
}

#example.dataTables_filter,
#example.dataTables_length {
    padding: 100px;
}

table.dataTable.table-hover>tbody>tr:hover>* {
    box-shadow: inset 0 0 0 9999px rgb(195 195 195 / 8%);
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    font-size: 14px !important;
}


div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em !important;
    font-size: .875rem;
}

/* table ends */



#sidebar-wrapper {
    min-height: 100vh;
    /* flex: 1 1 auto; */
    overflow: auto;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.9rem 1.25rem;
    font-size: 1.2rem;
    background-color: #164E63;
    color: #ffffffdb;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}




/* DASHBOARD CALENDAR */
.calendar {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: .7rem;
    /* box-shadow: 0 3px 5px rgba(#000, 0.5); */
    overflow: hidden;
}

.calendar__picture {
    position: relative;
    height: 104px;
    padding: 20px;
    color: #fff;
    background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center / cover;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
}

.calendar__picture::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
}

.calendar__picture h2 {
    margin: 0;
}

.calendar__picture h3 {
    margin: 0;
    font-weight: 500;
}

.calendar__date {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
}

.calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    font-size: .8rem;
    font-weight: 600;
    color: #262626;
}

.calendar__day :nth-child(7) {
    color: #ff685d;
}

.calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: .8rem;
    color: #262626;
}

.calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
}

/* &--current, */
.calendar__number:hover {
    background-color: #524a8a;
    color: #fff !important;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}



/* CHECKBOX COLORS */
.form-check-input:checked {
    background-color: #524a8a;
    border-color: #524a8a;
}

.form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(49 78 113 / 30%);
}


.form-label {
    font-size: .8rem;
}

.form-control-sm {
    font-size: .8rem;
}

.form-select-sm {
    font-size: .8rem;
}

/* MODAL */

.modal form {
    font-size: .8rem;
}

/* FOOTER  */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    font-size: .8rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background: #524a8a;
    margin: 0;
}



/* LOGIN AND SIGNUP */

    
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-size: 1rem; 
    letter-spacing: .8px;
}

.btn {
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 10rem;
    line-height: 1.8rem;
    box-shadow: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(49 78 113 / 30%);
}

.btn-primary {
    color: #fff;
    background-color: #524a8a;
    border-color: #524a8a;
}

.btn-primary:hover {
    color: #fff;
    background-color: #363064;
    border-color: #363064;
}

.desk-image {
    width: 18rem;
    height: auto;
}

.content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login-text {
    color: #fff;
    text-align: center;
}

.login-text h1{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.login-text p{
    color: #fff;
    font-size: 1rem; 
    letter-spacing: .8px;
}

.login-info-box {
    position: relative;
    width: auto;
    height: 100vh; 
    
}

.login-image-container {
    padding-left: 0;
    background-color: #d37b26;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .card {
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 7%);
} */

.back-arrow-button {
    position: absolute;
    top: 4%;
    left: 3%;
}

.arrow-box-circle {
    position: absolute;
    top: 4%;
    left: 3%;
    width: 2rem;
    height: 2rem;
    /* background: linear-gradient(#b2eefa, #ebfafd); */
    border-radius: 50%;
    border: 1px solid #524a8a;
    z-index: 1;
    /* filter: drop-shadow(1px 3px 3px #1c1c1c9e); */
    transition: .2s ease-in-out;
    cursor: pointer;
}

.arrow-box-circle:active {
    /* transform: translateY(.15rem); */
    /* filter: drop-shadow(1px 3px 1px #1c1c1c9e); */
    background-color: #524a8a;
}

.arrow-box-circle a {
    color: #524a8a;
}

.arrow-box-circle a:active, .arrow-box-circle a:hover {
    color: #fff;
}

.back-link {
    color: #8d8989;
}

.back-link:active {
    color: #fff;;
}

.arrow-box-circle .fa-chevron-left {
    color: #524a8a;
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-48%,-45%);
}

.arrow-box-circle .fa-chevron-left:active {
    color: #fff;
}







.arrow-box-circle-mobile {
    position: absolute;
    top: 4%;
    left: 3%;
    width: 2rem;
    height: 2rem;
    /* background: linear-gradient(#b2eefa, #ebfafd); */
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 1;
    /* filter: drop-shadow(1px 3px 3px #1c1c1c9e); */
    transition: .2s ease-in-out;
    cursor: pointer;
}

.arrow-box-circle-mobile:active {
    /* transform: translateY(.15rem); */
    /* filter: drop-shadow(1px 3px 1px #1c1c1c9e); */
    background-color: #8d8989;
}

.arrow-box-circle-mobile a {
    color: #fff;
}

.arrow-box-circle-mobile a:active, .arrow-box-circle-mobile a:hover {
    color: #fff;
}

.arrow-box-circle-mobile .fa-chevron-left {
    color: #fff;
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-48%,-45%);
}


@media screen and (min-width:769px) {
    .back-link-mobile {
        display: none;
    }
}


@media screen and (max-width:991px) {
    .login-info-box {
        position: relative;
        background-color: #524a8a;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .login-info-box h1 {
        font-size: 24px;
    }

    .login-info-box .h5 {
        font-size: 14px !important;
    }
    .card {
        box-shadow: none !important;
        border: none;
        border-radius: none !important;
    }



    .form-box h4 {
        font-size: 17px;
    }

    .form-box .form-label {
        font-size: 14px;
    }

    .form-box input::-webkit-input-placeholder {
        font-size: 13px;
    }

    a {
        color: #fff !important;
        text-decoration: none !important;
    }

    .login-image-container {
        padding-left: 0;
    }
    .desk-image {
        width: 35%;
        height: auto;
    }
}

@media screen and (max-width:576px) {
    .login-info-box {
        height: 50vh; 
        border-right: none;
    }

    .form-box {
        position: unset !important;
        top: unset !important;
        transform: unset !important;
        margin-top: 15px;
    }

    .desk-image {
        width: 30% !important;
        height: auto;
    }
}

@media screen and (max-width:768px) {
    .login-info-box {
        height: 60vh;
        border-right: none; 
    }

    .login-image-container {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }

    .back-link {
        display: none;
    }

    .desk-image {
        width: 20%;
        height: auto;
    }
}


/* form-area */

.rounded-image {
    width: 5rem;
    height: 5rem;
}

.form-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.horizontal-ruler {
    height: 1px;
    background-color: #72868b;
    border: none;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.register {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: .3rem 1.5rem;
}

.forget-pwd {
    color: #2c2c2c;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: .8px;
}

.remember {
    letter-spacing: 0.8px;
    color: #2c2c2c;
    font-size: 0.95rem;
    font-weight: 400;
} 

.login-types {
    font-size: 1rem;
    letter-spacing: 1px;
}

/* social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* .social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
} */

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 34px;
    height: 34px;
    font-size:15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.social-circle li i {
    margin:0;
    line-height:36px;
    text-align: center;
}

.social-circle li a:hover, .triggeredHover {
    /* -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle .icoGoogle i {
    color: #BD3518;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle .icoFacebook i {
    color: #3B5998;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle .icoTwitter i {
    color: #33ccff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-circle .icoLinkedin i {
    color: #007bb7;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/* forms and inputs */
form input[type=text], select, input[type=date], input[type=password], form label, form .select {
    font-size: 1rem;
    letter-spacing: 1px;
}


.form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius:0;
    transition: border-color .3s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #524a8a;
    outline: 0;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #524a8a;
    border-color: #524a8a;
}

.form-check-input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(49 78 113 / 30%);
}

.form-floating>.form-control, .form-floating>.form-select {
    height: calc(3.2rem + 2px);
    line-height: 1.25;
}