<!-- <footer class="footer-area">
    <div class="container">
        <div class="footer-top pt-100 pb-70">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <div class="navbar-brand">
                            <a href="index.html">
                                <img src="assets/img/logo2.png" alt="Logo" width="200" />
                            </a>
                        </div>
                        <p>You can dream, create, design, and build the most wonderful place.</p>
                        <div class="contact-info">
                            <div class="content">
                                <a href="tel:+0123456987"><i class='bx bx-phone'></i>+0123 456 987</a>
                            </div>
                            <div class="content">
                                <a
                                    href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#c1a9a4adadae81aba0b4afb5efa2aeac"><i
                                        class='bx bx-envelope'></i><span class="__cf_email__"
                                        data-cfemail="f79f929b9b98b79d96829983d994989a">[email&#160;protected]</span></a>
                            </div>
                            <div class="content">
                                <a href="#"><i class='bx bx-map'></i>Mon-Fri: 8 AM – 7 PM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5>Latest News</h5>
                        <ul class="footer-news">
                            <li class="content">
                                <a href="blog-details.html">Surrounded by the peaceful waters of Lake Victoria.</a>
                                <span>October 05, 2021</span>
                                <hr>
                            </li>
                            <li class="content">
                                <a href="blog-details.html">Morning came very early today. The alarm went off at 4
                                    am</a>
                                <span>October 05, 2021</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5>Quick Links</h5>
                        <ul class="footer-links">
                            <li>
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li>
                                <a href="destinations.html">Destinations</a>
                            </li>
                            <li>
                                <a href="blog-style-1.html">Latest Blog</a>
                            </li>
                            <li>
                                <a href="team.html">Our Team</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-12">
                    <div class="footer-widget">
                        <h5>Instagram Post</h5>
                        <ul class="instagram-post">
                            <li>
                                <img src="assets/img/instagram1.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram2.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram3.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram4.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram5.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                            <li>
                                <img src="assets/img/instagram6.jpg" alt="Demo Image">
                                <i class='bx bxl-instagram'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="copy-right-area">
            <div class="container">
                <div class="copy-right-content">
                    <p>
                        Copyright @
                        <script data-cfasync="false"
                            src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>document.write(new Date().getFullYear())</script> Jaunt. Designed By
                        <a href="https://hibootstrap.com/" target="_blank">
                            HiBootstrap.com
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer> -->



<footer class="footer-section">
    <div class="footer-top">
        <div class="container-xl container-lg-fluid container">
            <div class="row justify-content-center gy-5">
                <div class="col-lg-3 col-md-10 col-sm-6 col-11 order-sm-0 order-1">
                    <div class="footer-about">
                        <img src="{{asset_url}}../assets/img/icons/footer-plane.svg" class="footer-plane" alt="image">
                        <div class="footer1-logo">
                            <img src="{{asset_url}}../assets/img/mstt-white.png" alt="image" width="100">
                            <!-- <p>Since: 2022</p> -->
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            version="1.1" viewBox="0 0 400 400">
                            <defs>

                                <path d="M0, 200a200, 200 0 1, 0 400, 0a200, 200 0 1, 0 -400, 0" id="txt-path"
                                    fill="white"></path>
                            </defs>
                            <text fill="#DDDDDD" font-size="35.5" font-family="Helvetica Neue" font-weight="600">

                                <textPath startOffset="0" xlink:href="#txt-path">Mere Saath Tour & Travel Pvt Ltd</textPath>
                            </text>
                        </svg>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-item">
                        <h4>Information</h4>
                        <ul class="link-list">
                            <li><a href="javascript:void();">About Company</a></li>
                            <li><a href="javascript:void();">Bus Booking</a></li>
                            <li><a href="javascript:void();">Truck Booking</a></li>
                            <li><a href="javascript:void();">Taxi Booking</a></li>
                            <li><a href="javascript:void();">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-item">
                        <h4>Destinations</h4>
                        <ul class="link-list">
                            <li><a href="javascript:void();">Punjab</a></li>
                            <li><a href="javascript:void();">Rajasthan</a></li>
                            <li><a href="javascript:void();">Delhi</a></li>
                            <li><a href="javascript:void();">Kerela</a></li>
                            <li><a href="javascript:void();">Chennai</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-item">
                        <h4>Reach Us</h4>
                        <ul class="contact-list">
                            <li>
                                <div class="icon">
                                    <i class="bi bi-telephone"></i>
                                </div>
                                <div class="text">
                                    <a href="tel:+8801761111456">Toll Free - 18008904157</a>
                                    <a href="tel:+8801761111457">Customer Care - +919708536007</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="bi bi-envelope"></i>
                                </div>
                                <div class="text">
                                    <a href="#"><span
                                            class="__cf_email__"
                                            >24Hrs Service</span></a>
                                    <a href=""><span class="__cf_email__">info@mstt.in</span></a>
                                </div>
                            </li>
                            <li>
                                <div class="icon w-38">
                                    <i class="bi bi-geo-alt"></i>
                                </div>
                                <div class="text">
                                    2nd Floor, Laxmi Narayan complex, Itki road, NH33 hehal Ranchi Jharkhand, 834005
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footer-meta">
                <div
                    class="col-lg-6 d-flex justify-content-lg-start justify-content-center align-items-center mb-lg-0 mb-5">
                    <h4>Stay Connected:</h4>
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.twitter.com/"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.pinterest.com/"><i class='bx bxl-pinterest'></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center align-items-center">
                    <h4>Pay Safely With Us!</h4>
                    <ul class="pay-list">
                        <li><img src="{{asset_url}}../assets/img/icons/pay1.svg" alt="image"></li>
                        <li><img src="{{asset_url}}../assets/img/icons/pay2.svg" alt="image"></li>
                        <li><img src="{{asset_url}}../assets/img/icons/pay3.svg" alt="image"></li>
                        <li><img src="{{asset_url}}../assets/img/icons/pay4.svg" alt="image"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="row d-flex align-items-center g-3">
                <div
                    class="col-lg-6 d-flex justify-content-lg-start justify-content-center text-lg-start text-center px-1">
                    <p>All Rights Reserved-2023 <a href="#" class="egns-lab">MSTT </a> | Design By <a
                            href="https://themeforest.net/category/site-templates?term=egenslab"
                            class="egns-lab">Vishal</a></p>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center align-items-center">
                    <ul class="f-bottom-list d-flex jusify-content-start align-items-center">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>